<!doctype html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#202963">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Yrsa:wght@400;700&display=swap"
        rel="stylesheet">
    <script>
        // Prevents flash of unstyle cotnent for JS manipulated elements.
		document.querySelector('html').classList.remove('no-js');
    </script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v19.10 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>About Us - GEOMF</title>
	<meta name="description" content="Kresge is a strategic philanthropy, guided by six values, that works through grantmaking and social investing to expand opportunity in America’s cities." />
	<link rel="canonical" href="/users/about-us/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="About Us - GEOMF" />
	<meta property="og:description" content="Kresge is a strategic philanthropy, guided by six values, that works through grantmaking and social investing to expand opportunity in America’s cities." />
	<meta property="og:url" content="/users/about-us/" />
	<meta property="og:site_name" content="GEOMF" />
	<meta property="article:publisher" content="https://www.facebook.com/TheKresgeFoundation" />
	<meta property="article:modified_time" content="2020-09-03T01:00:49+00:00" />
	<meta property="og:image" content="https://kresge.org/wp-content/uploads/about-us-hdr.jpg" />
	<meta property="og:image:width" content="1600" />
	<meta property="og:image:height" content="800" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@kresgefdn" />
	<meta name="twitter:label1" content="Est. reading time" />
	<meta name="twitter:data1" content="5 minutes" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"/users/about-us/","url":"/users/about-us/","name":"About Us - GEOMF","isPartOf":{"@id":"https://kresge.org/#website"},"primaryImageOfPage":{"@id":"/users/about-us/#primaryimage"},"image":{"@id":"/users/about-us/#primaryimage"},"thumbnailUrl":"https://kresge.org/wp-content/uploads/about-us-hdr.jpg","datePublished":"2020-04-21T04:26:02+00:00","dateModified":"2020-09-03T01:00:49+00:00","description":"Kresge is a strategic philanthropy, guided by six values, that works through grantmaking and social investing to expand opportunity in America’s cities.","breadcrumb":{"@id":"/users/about-us/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["/users/about-us/"]}]},{"@type":"ImageObject","inLanguage":"en-US","@id":"/users/about-us/#primaryimage","url":"https://kresge.org/wp-content/uploads/about-us-hdr.jpg","contentUrl":"https://kresge.org/wp-content/uploads/about-us-hdr.jpg","width":1600,"height":800},{"@type":"BreadcrumbList","@id":"/users/about-us/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://kresge.org/"},{"@type":"ListItem","position":2,"name":"About Us"}]},{"@type":"WebSite","@id":"https://kresge.org/#website","url":"https://kresge.org/","name":"GEOMF","description":"Expanding Opportunities in America&#039;s Cities","publisher":{"@id":"https://kresge.org/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://kresge.org/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"Organization","@id":"https://kresge.org/#organization","name":"GEOMF","url":"https://kresge.org/","logo":{"@type":"ImageObject","inLanguage":"en-US","@id":"https://kresge.org/#/schema/logo/image/","url":"https://kresge.org/wp-content/uploads/t-kre.png","contentUrl":"https://kresge.org/wp-content/uploads/t-kre.png","width":800,"height":800,"caption":"GEOMF"},"image":{"@id":"https://kresge.org/#/schema/logo/image/"},"sameAs":["https://www.instagram.com/thekresgefoundation/","https://www.linkedin.com/company/the-kresge-foundation","https://www.youtube.com/user/TheKresgeFoundation","https://www.facebook.com/TheKresgeFoundation","https://twitter.com/kresgefdn"]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//www.googletagmanager.com' />
<script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/kresge.org\/wp-includes\/js\/wp-emoji-release.min.js"}};
/*! This file is auto-generated */
!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode,e=(p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0),i.toDataURL());return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(p&&p.fillText)switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([129777,127995,8205,129778,127999],[129777,127995,8203,129778,127999])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(e=t.source||{}).concatemoji?c(e.concatemoji):e.wpemoji&&e.twemoji&&(c(e.twemoji),c(e.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wpmf-bakery-style-css' href='https://kresge.org/wp-content/plugins/wp-media-folder//assets/css/vc_style.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css' href='https://kresge.org/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='classic-theme-styles-css' href='https://kresge.org/wp-includes/css/classic-themes.min.css' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel='stylesheet' id='acwpb-charts-css' href='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/css/front.css' type='text/css' media='all' />
<style id='acwpb-charts-inline-css' type='text/css'>
.acwpb-legends{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}
</style>
<link rel='stylesheet' id='vc_extend_style-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-img-credits-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-callout-box-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-author-blockquote-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css' href='https://kresge.org/wp-content/plugins/js_composer/assets/css/js_composer.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='sage/main.css-css' href='https://kresge.org/wp-content/themes/kresge-foundation/dist/styles/main.css' type='text/css' media='all' />
<script type='text/javascript' src='https://kresge.org/wp-includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-includes/js/jquery/jquery-migrate.min.js' id='jquery-migrate-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.js' id='vc_extend_js-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/waypoints.js' id='waypoints-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/counterup.js' id='counterup-js'></script>
<link rel="https://api.w.org/" href="https://kresge.org/wp-json/" /><link rel="alternate" type="application/json" href="https://kresge.org/wp-json/wp/v2/pages/55" /><link rel='shortlink' href='https://kresge.org/?p=55' />
<link rel="alternate" type="application/json+oembed" href="https://kresge.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkresge.org%2Fabout-us%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://kresge.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkresge.org%2Fabout-us%2F&#038;format=xml" />
<meta name="generator" content="Site Kit by Google 1.88.0" /><!-- Stream WordPress user activity plugin v3.9.1 -->
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>
<!-- Google Tag Manager snippet added by Site Kit -->
<script type="text/javascript">
			( function( w, d, s, l, i ) {
				w[l] = w[l] || [];
				w[l].push( {'gtm.start': new Date().getTime(), event: 'gtm.js'} );
				var f = d.getElementsByTagName( s )[0],
					j = d.createElement( s ), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore( j, f );
			} )( window, document, 'script', 'dataLayer', 'GTM-NXG5S6T' );
			
</script>

<!-- End Google Tag Manager snippet added by Site Kit -->
<link rel="icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon-150x150.png" sizes="32x32" />
<link rel="icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" />
<meta name="msapplication-TileImage" content="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" />
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1593704505600{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1596738207117{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1595625719172{padding-top: 75px !important;padding-right: 50px !important;padding-bottom: 75px !important;padding-left: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1595625726060{padding-top: 75px !important;padding-right: 50px !important;padding-bottom: 75px !important;padding-left: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1593437603883{padding-top: 75px !important;padding-right: 50px !important;padding-bottom: 75px !important;padding-left: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1593437437145{padding-top: 75px !important;padding-right: 50px !important;padding-bottom: 75px !important;padding-left: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1593437587346{padding-top: 75px !important;padding-right: 50px !important;padding-bottom: 75px !important;padding-left: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1593437603883{padding-top: 75px !important;padding-right: 50px !important;padding-bottom: 75px !important;padding-left: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1597412317964{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1593704624535{background-color: #202963 !important;}.vc_custom_1596738201160{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1593358445125{padding-top: 75px !important;padding-right: 60px !important;padding-bottom: 75px !important;padding-left: 60px !important;background-color: #ffffff !important;}.vc_custom_1596738212101{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="page-template page-template-template-top-level template-top-level page page-id-55 page-parent about-us has-featured-image app-data index-data singular-data page-data page-55-data page-about-us-data template-top-level-data wpb-js-composer js-comp-ver-6.9.0 vc_responsive">
    <a id="skip-to-content" href="#main-content" class="no-print"
        aria-label="Skip to content">Skip to content</a>
        <header class="site-header ">
            <div class="site-header__inner-container">
                <div class="container">
                    <div class="row justify-center">
                        <div class="column xs-100 lg-100">
                            <a class="site-header__brand" href="/">
                                <img class="" style="max-height:60px;max-width: 60px;" src="/images/logo.png">
                                <h1 class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children">G.E.O.M.F</h1>
                            </a>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="site-header__inner">
                <nav class="site-header__navigation">
                                <ul class="main-menu "><li class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/about-us/" class="main-menu__link"><span>About Us</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
        <div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15716  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--67  main-menu__item--border-right  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-67"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--57  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/our-story/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Story</span><span class="main-menu__link__description">Promoting human progress since 2021, expanding opportunity today</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--64  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/our-staff/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Volunteers</span><span class="main-menu__link__description">Our work is made possible by mission-driven professionals</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--66  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/board-of-trustees/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Board of Trustees</span><span class="main-menu__link__description">Leaders who provide governance, expertise and support to our work</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--76  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/press-room/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Press Room</span><span class="main-menu__link__description">Resources and information for commnunications professional</span></a></li>	</ul>
        </li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15717  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-secondary  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-33"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--70  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/how-we-operate/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>How We Operate</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--74  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/financials/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Financials</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--78  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/faqs/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>FAQs</span></a></li>	</ul>
        </li></ul>
        </li><li class="main-menu__item  main-menu__item--parent  main-menu__item--80  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/our-work/" class="main-menu__link"><span>Our Work</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
        <div class="container"><div class="row">    
            <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15692  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--67  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-67"><a class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>Programs &#038; Practices</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        
            <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15755  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/american-cities/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-amci.png" alt=""><span>Orphans and Less Priviledged</span><span class="main-menu__link__description">Financial and educational support, health services for orphans, indigent persons and less priviledged.</span></a></li>                
            <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--82  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/Poverty Alleviation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-det.png" alt=""><span>Poverty Alleviation</span><span class="main-menu__link__description">Empowerment/skill acquisition, material and financial support for widows, less priviledged and other indigent persons</span></a></li>                
            <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15757  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/environment/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-env.png" alt=""><span>Stroke Awareness</span><span class="main-menu__link__description">Enlightenment and awareness campaign on the prevention and management of stroke</span></a></li>                
            <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15761  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/human-services/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-hum.png" alt=""><span>Christian Missions</span><span class="main-menu__link__description">Provision of support for Christian missions/evangelism</span></a></li>        	</ul>
        </li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15693  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-33"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>More About Our Work</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
                          	</ul>
        </li></ul>
        </li>
        <li class="main-menu__item  main-menu__item--parent  main-menu__item--90  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/donate/" class="main-menu__link"><span>Donate</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
          </li><li class="main-menu__item  main-menu__item--92  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/news-views/" class="main-menu__link"><span>News &#038; Views</span></a></li><li class="main-menu__item  main-menu__item--94  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/resources/" class="main-menu__link"><span>Resources</span></a></li></ul>
                            </nav>
                <a class="site-header__subscribe" href="/subscribe-connect/">Subscribe &amp; Connect</a>
                <label class="site-header__nav-icon mobile-icon no-print" for="nav-toggle" tabindex="0">
        
                    <span class="screen-reader-text">Navigation Toggle</span>
                    <div>
                        <div class="mobile-icon__line"></div>
                        <div class="mobile-icon__line"></div>
                        <div class="mobile-icon__line"></div>
                    </div>
        
        
                </label>
                <a class="site-header__search-button icon icon-search" href="https://kresge.org/?s="
                    title="Search" aria-label="Search"><span
                        class="screen-reader-text">Search</span></a>
            </div>
        </header>
<input type="checkbox" id="nav-toggle">

<div class="mobile-nav-container">

    <div class="container-fluid mobile-nav-inner">
        <form role="search" class="mobile-nav__search-form searchform" method="get" action="https://kresge.org">
            <label for="mobile-s"><span>Search</span></label>
            <input type="text" placeholder="Type here and hit enter..." name="s"
                id="mobile-s" autocomplete="off" spellcheck="false" autofocus>

            <button type="submit"><span class="screen-reader-text">Submit</span><i
                    class="icon icon-search" aria-hidden="true"></i></button>
        </form>
                <ul class="main-menu "><li class="main-menu__item  main-menu__item--parent  main-menu__item--active  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--current-menu-item  main-menu__item--page_item  main-menu__item--page-item-55  main-menu__item--current_page_item  main-menu__item--menu-item-has-children"><a href="/users/about-us/" class="main-menu__link"><span>About Us</span></a>
	<ul class="main-menu__sub-menu main-menu__sub-menu--1">
<div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15779  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--57  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/our-story/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Story</span><span class="main-menu__link__description">Supporting human progress since 2021, expanding opportunity today</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--64  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/our-staff/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>staff and volunteers</span><span class="main-menu__link__description">Our work is made possible by a staff of mission-driven professionals</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--61  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/diversity-equity-and-inclusion/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Diversity, Equity and Inclusion</span><span class="main-menu__link__description">Central to how we operate and fund, we center DEI in all we do</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--68  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/careers/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Careers</span><span class="main-menu__link__description">Check for new openings and learn about working at The GEOMF</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--66  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/board-of-trustees/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Board of Trustees</span><span class="main-menu__link__description">Leaders who provide governance, expertise and support to our work</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--76  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/press-room/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Press Room</span><span class="main-menu__link__description">Resources and information for commnunications professional</span></a></li>	</ul>
</li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15786  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-secondary  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--70  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/how-we-operate/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>How We Operate</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--74  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/financials/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Financials</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--78  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/faqs/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>FAQs</span></a></li>	</ul>
</li></ul>
</li><li class="main-menu__item  main-menu__item--parent  main-menu__item--80  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/our-work/" class="main-menu__link"><span>Our Work</span></a>
	<ul class="main-menu__sub-menu main-menu__sub-menu--1">
<div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15791  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>Programs &#038; Practices</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15755  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/american-cities/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Orphans and Less Priviledged</span><span class="main-menu__link__description">Financial and educational support, health services for orphans, indigent persons and less priviledged.</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--82  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/Poverty Alleviation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Poverty Alleviation</span><span class="main-menu__link__description">Empowerment/skill acquisition, material and financial support for widows, less priviledged and other indigent persons</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15753  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/education/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Education</span><span class="main-menu__link__description">Addressing postsecondary attainment and closing equity gaps</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15757  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/environment/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Stroke Awareness</span><span class="main-menu__link__description">Enlightenment and awareness campaign on the prevention and management of stroke</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15761  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/human-services/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Christian Missions</span><span class="main-menu__link__description">Increasing social-economic mobility for people with low incomes</span></a></li>         	</ul>
</li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15800  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>More About Our Work</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--88  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/our-work/strategic-learning-research-evaluation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Strategic Learning, Research &#038; Evaluation</span><span class="main-menu__link__description">Building a culture of learning across the organization and support community learning priorities</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--86  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/our-work/initiatives/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Initiatives</span><span class="main-menu__link__description">Our time-bound funding programs can bring multiple GEOMF teams together to co-create strategies</span></a></li>	</ul>
</li></ul>
</li><li class="main-menu__item  main-menu__item--parent  main-menu__item--90  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/donate/" class="main-menu__link"><span></span></a>
	   </li><li class="main-menu__item  main-menu__item--92  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/news-views/" class="main-menu__link"><span>News &#038; Views</span></a></li><li class="main-menu__item  main-menu__item--94  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/resources/" class="main-menu__link"><span>Resources</span></a></li></ul>
                <a class="mobile-nav__subscribe" href="/subscribe-connect/">Subscribe &amp; Connect</a>
    </div>
</div>    <div class="masthead-image ">
    <span class="masthead-image__overlay overlay img-bg"
        style="background-image: url(/images/home_1.JPG);"></span>
</div>        <div class="masthead text-white">
    <div class="container">
        <div class="row justify-center">
            <div class="column xs-100 lg-100">
                <div class="masthead__content">
                    <div class="row">
                        <div class="column">
                                                                                                                                                                        <h1 class="masthead__eyebrow eyebrow">About Us</h1>
                                                                                    <p class="h1">Promoting a legacy of good works</p>
                                                                                                                                                                                                                                                        </div>
                                                                                            </div>
                </div>
            </div>
        </div>
    </div>
</div>            <div class="wrap container" role="document">
        <div class="content">
            <main class="main" id="main-content" tabindex="-1">
                 <section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section"><div class="vc_row wpb_row vc_row-fluid m-t-60 reveal"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h2>Expanding Opportunities in America’s Cities</h2>
<p>The GEOMF is a private, national foundation that works to expand opportunities in America&#8217;s cities through grantmaking and social investing in arts and culture, education, environment, health, christian missions and community development, nationally and in Poverty Alleviation, Memphis and New Orleans. In collaboration with our partners, we help create pathways for people with low incomes to improve their life circumstances and join the economic mainstream.</p>
<p><span style="color: #ffffff;"><a class="btn link--arrow" style="color: #ffffff;" href="https://kresge.org/our-work/">Learn About Our Work</a></span></p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  sidebar-card sidebar-card--gray" >
		<div class="wpb_wrapper">
			<h5>Supporting Human Progress for Nearly 100 Years</h5>
<p class="small">The Grace E. Omoifo Memorial Foundation was born out of the need to honour the memory of departed mother by continuing the pattern of charitable deeds that she greatly delighted in while she lived with us.</p>
<p><a class="link--uppercase-arrow" href="/users/about-us/our-story/">Our Story</a></p>

		</div>
	</div>
<
</div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section reveal p-t-40 p-b-60 m-b--80 vc_section-o-content-middle vc_section-flex"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid m-t--40 p-t-60 p-b-60 vc_custom_1593704624535 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-10 vc_col-sm-offset-1 vc_col-xs-offset-1 vc_col-xs-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  text-white" >
		<div class="wpb_wrapper">
			<h2 style="text-align: center;">Stay Updated</h2>
<p style="text-align: center;">Get Kresge’s Weekly Newsletter each Thursday, or sign up for program-specific newsletters. You can also find and follow and chat with us on social media.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h6 style="text-align: center;"><a class="btn link--arrow btn--highlight" href="https://kresge.org/subscribe-connect/">Sign Up</a></h6>

		</div>
	</div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" data-vc-parallax="1.25" data-vc-parallax-o-fade="on" data-vc-parallax-image="https://kresge.org/wp-content/uploads/2020/06/rip-at-dod.jpg" class="vc_section vc_custom_1593704505600 vc_section-has-fill vc_section-o-content-middle vc_section-flex vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade"><div class="vc_row wpb_row vc_row-fluid p-b-80 vc_custom_1596738201160 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-5 vc_col-md-offset-1 vc_col-md-5 vc_col-sm-offset-1 vc_col-xs-offset-1 vc_col-xs-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid m-t-80 m-b-80 vc_row-o-content-middle vc_row-flex"><div class="reveal wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1593358445125"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<blockquote><p>
“Our programs reflect the inflection points where we hope to make a difference in the lives of people in cities who lack access to opportunity.”
</p></blockquote>
<h6 class="eyebrow">           Pst. Rufina Otabor, CEO The GEOMF</h6>

		</div>
	</div>
</div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section m-t-40 vc_custom_1596738207117 vc_section-has-fill vc_section-o-content-middle vc_section-flex"><div class="vc_row wpb_row vc_row-fluid vc_custom_1596738212101 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-xs-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">

            </main>
                    </div>
    </div>
        <footer class="site-footer">
    <div class="site-footer__main text-white">
        <div class="container">
            <div class="row">
                <div class="column xs-100 md-50 lg-75">
                    <section class="widget_text widget custom_html-2 widget_custom_html"><div class="textwidget custom-html-widget">
                        <svg width="238" height="13" viewbox="0 0 238 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M194.34 1.18666L198.041 1.17333V12.72H199.428L199.441 1.17333H203.234V0.266665L194.34 0.239998V1.18666Z" fill="white"/>
<path d="M0 1.18666L3.70158 1.17333V12.72H5.07496L5.08804 1.17333H8.89426V0.266665L0 0.239998V1.18666Z" fill="white"/>
<path d="M20.64 0.253334H22.1049V12.72H20.653V6.44002C19.345 6.44002 18.194 6.44002 16.9514 6.44002C15.7089 6.44002 14.5448 6.50668 13.3153 6.52002V12.76H11.8634V0.26668H13.3283V5.68001C14.5709 5.68001 15.7089 5.68001 16.9384 5.68001C18.1679 5.68001 19.3974 5.68001 20.64 5.68001V0.253334Z" fill="white"/>
<path d="M26.4604 4.96C26.4604 3.38667 26.4604 0.253334 26.4604 0.253334H32.6734V1.14669C32.6734 1.14669 30.3059 1.14669 27.9777 1.14669C27.9777 1.93335 27.9777 5.29333 27.9777 5.74666C30.0836 5.74666 32.2679 5.74666 32.2679 5.74666V6.69332H27.9515C27.9515 7.11998 27.9515 11.48 28.03 11.9333H32.7649V12.84H26.5259C26.5259 12.84 26.5259 9.77334 26.5259 8.21334L26.4604 4.96Z" fill="white"/>
<path d="M65.6345 4.96C65.6345 3.38667 65.6345 0.253334 65.6345 0.253334H71.8081V1.14669C71.8081 1.14669 69.4407 1.14669 67.1125 1.14669C67.1125 1.93335 67.0471 5.29333 67.0471 5.74666C69.1529 5.74666 71.3373 5.74666 71.3373 5.74666V6.69332H67.0209C67.0209 7.11998 67.0209 11.48 67.0994 11.9333H71.8081V12.84H65.5691C65.5691 12.84 65.5691 9.77334 65.5691 8.21334L65.6345 4.96Z" fill="white"/>
<path d="M99.9165 4.96C99.9165 3.38667 99.9165 0.253334 99.9165 0.253334H106.129V1.14669C106.129 1.14669 103.762 1.14669 101.434 1.14669C101.434 1.93335 101.355 5.29333 101.355 5.74666C103.474 5.74666 105.645 5.74666 105.645 5.74666V6.69332H101.342C101.342 7.11998 101.342 11.48 101.421 11.9333H106.143V12.84H99.9165C99.9165 12.84 99.9165 9.77334 99.9165 8.21334V4.96Z" fill="white"/>
<path d="M115.691 4.96C115.691 3.38667 115.691 0.253334 115.691 0.253334H122.087V1.14669C122.087 1.14669 119.589 1.14669 117.26 1.14669C117.26 1.93335 117.195 2.57334 117.195 3.46667C117.195 4.36001 117.195 5.29333 117.195 5.74666C119.314 5.74666 121.694 5.74666 121.694 5.74666V6.69332H117.195C117.195 7.11998 117.195 12.84 117.195 12.84H115.704C115.704 12.84 115.704 9.77334 115.704 8.21334L115.691 4.96Z" fill="white"/>
<path d="M42.2085 0.253334H43.6996V5.92C43.6996 6.02667 43.6996 6.06665 43.8042 6.06665C43.9089 6.06665 43.9089 6.06665 44.0528 5.90665C45.8935 4.11781 47.64 2.23073 49.2847 0.253334H50.8804C50.8804 0.253334 46.6164 4.38667 45.3084 5.88C47.2442 8.06667 50.972 12.7467 50.972 12.7467H48.9184C48.9184 12.7467 44.7983 7.26666 44.0135 6.49332C43.9089 6.38666 43.8566 6.35998 43.8042 6.35998C43.7788 6.36325 43.7554 6.37593 43.7386 6.39559C43.7217 6.41525 43.7125 6.44055 43.7127 6.46667V12.76H42.2477L42.2085 0.253334Z" fill="white"/>
<path d="M54.0588 0.23999H57.8389C59.827 0.23999 61.4882 0.946676 61.4882 3.09334C61.4882 5.24001 59.2254 6.36 57.9043 6.54667L62.6915 12.7067H60.6249C59.2221 10.6261 57.7114 8.62322 56.0993 6.70667H55.3668V12.7067H54.0588V0.23999ZM55.3668 5.94666C55.3668 5.94666 56.1255 6.04 56.5702 6.04C58.009 6.04 59.9186 5.42666 59.9186 3.27999C59.9186 1.38666 58.4013 0.906657 57.2111 0.906657C56.4001 0.906657 55.3668 1 55.3668 1V5.94666Z" fill="white"/>
<path d="M75.1565 10.3333C75.3834 10.8892 75.7665 11.3642 76.2576 11.6987C76.7486 12.0332 77.3257 12.2122 77.9163 12.2133C78.2573 12.2237 78.5966 12.1608 78.9121 12.0288C79.2277 11.8969 79.5125 11.6987 79.7481 11.4472C79.9837 11.1958 80.1648 10.8966 80.2796 10.5692C80.3944 10.2418 80.4404 9.89339 80.4145 9.54667C80.4145 6.21334 74.908 7.65335 74.908 3.38668C74.9082 2.89845 75.0101 2.4158 75.2067 1.97062C75.4033 1.52544 75.6904 1.12785 76.0488 0.804037C76.4073 0.480221 76.829 0.237568 77.2861 0.0920822C77.7433 -0.0534038 78.2256 -0.0984349 78.7011 -0.0399979C79.6455 -0.0860977 80.5744 0.216943 81.3171 0.813355C81.0863 1.29312 80.9276 1.80548 80.8462 2.33333H80.6369C80.5178 1.85911 80.2503 1.43735 79.8751 1.13184C79.4999 0.826319 79.0373 0.653672 78.5572 0.640015C78.2613 0.623335 77.9653 0.669322 77.6877 0.775106C77.4101 0.88089 77.157 1.04418 76.9444 1.25464C76.7318 1.4651 76.5643 1.71818 76.4524 1.99793C76.3405 2.27767 76.2867 2.57801 76.2944 2.88001C76.2944 6.26667 81.801 4.85333 81.801 8.86666C81.8125 9.42924 81.7073 9.98796 81.4925 10.5063C81.2777 11.0246 80.958 11.4909 80.5544 11.8748C80.1507 12.2586 79.6722 12.5512 79.15 12.7336C78.6278 12.9161 78.0737 12.9841 77.5239 12.9333C76.4686 12.9702 75.4377 12.6041 74.6333 11.9067C74.8222 11.3884 74.9368 10.845 74.9734 10.2933L75.1565 10.3333Z" fill="white"/>
<path d="M95.3518 2.45332C94.878 1.89135 94.2896 1.44153 93.6277 1.13525C92.9658 0.828967 92.2463 0.67362 91.5194 0.680008C88.6157 0.680008 86.4052 2.46666 86.4052 6.49332C86.4052 10.0533 88.3279 12.2267 91.6371 12.2267C92.5969 12.259 93.5508 12.0627 94.4231 11.6533C94.4231 10.92 94.4231 6.97334 94.4231 6.97334H95.7965C95.7965 6.97334 95.7965 11.6267 95.7965 12.12C94.3926 12.6212 92.9262 12.9175 91.4409 13C87.2946 13 84.7179 10.7467 84.7179 6.49332C84.7179 2.23999 87.3992 -5.05988e-06 91.5325 -5.05988e-06C93.0767 -0.0636548 94.609 0.300361 95.9665 1.05334C95.7727 1.47592 95.6405 1.92511 95.5742 2.38667L95.3518 2.45332Z" fill="white"/>
<path d="M131.099 0.0666504C135.023 0.0666504 137.639 2.42669 137.639 6.52002C137.639 10.6134 134.931 12.9733 131.099 12.9733C127.266 12.9733 124.559 10.6134 124.559 6.52002C124.559 2.42669 127.266 0.0666504 131.099 0.0666504ZM131.099 0.733317C128.352 0.733317 126.246 2.52002 126.246 6.52002C126.246 10.52 128.352 12.3067 131.099 12.3067C133.845 12.3067 135.978 10.52 135.978 6.52002C135.978 2.52002 133.859 0.733317 131.099 0.733317Z" fill="white"/>
<path d="M217.818 0.0666504C221.663 0.0666504 224.358 2.42669 224.358 6.52002C224.358 10.6134 221.676 12.9733 217.818 12.9733C213.959 12.9733 211.278 10.6134 211.278 6.52002C211.278 2.42669 213.894 0.0666504 217.818 0.0666504ZM217.818 0.733317C215.11 0.733317 213.031 2.52002 213.031 6.52002C213.031 10.52 215.11 12.3067 217.818 12.3067C220.525 12.3067 222.631 10.52 222.631 6.52002C222.631 2.52002 220.552 0.733317 217.818 0.733317Z" fill="white"/>
<path d="M150.117 0.23999H151.189C151.189 0.23999 151.072 5.13336 151.032 7.77336C151.032 10.9867 149.214 13.0133 146.101 13.0133C142.688 13.0133 141.157 11.3334 141.157 7.81335C141.157 6.69335 141.157 0.23999 141.157 0.23999H142.596C142.596 0.23999 142.504 3.78667 142.504 6.46667C142.504 8.94667 142.596 12.16 146.428 12.16C150.261 12.16 150.222 8.44002 150.222 6.14669C150.222 2.69335 150.117 0.23999 150.117 0.23999Z" fill="white"/>
<path d="M165.695 13C163.079 9.74667 159.9 6.26667 156.931 2.96C156.931 3.62667 156.931 4.72001 156.931 6.64001C156.931 8.20002 156.931 12.76 156.931 12.76H156.068C156.068 12.76 156.173 7.26666 156.173 4.86666C156.173 2.46666 156.173 0.866667 156.173 0H156.447C159.273 3.21333 163.105 7.58669 165.224 9.81335C165.224 6.57335 165.224 0.23999 165.224 0.23999H165.983C165.983 0.23999 165.891 4.90665 165.891 6.31999C165.891 8.17332 165.891 12.1733 165.891 12.9867L165.695 13Z" fill="white"/>
<path d="M237.712 13C235.096 9.74667 231.931 6.26667 228.962 2.96C228.962 3.62667 228.962 4.72001 228.962 6.64001C228.962 8.20002 228.962 12.76 228.962 12.76H228.099C228.099 12.76 228.19 7.26666 228.19 4.86666C228.19 2.46666 228.19 0.866667 228.19 0H228.478C231.303 3.21333 235.136 7.58669 237.241 9.81335C237.241 6.57335 237.241 0.23999 237.241 0.23999H238.092C238.092 0.23999 238 4.90665 238 6.31999C238 8.17332 238 12.1733 238 12.9867L237.712 13Z" fill="white"/>
<path d="M170.443 0.23999H175.596C179.69 0.23999 181.378 2.52002 181.378 6.26668C181.426 7.13428 181.296 8.00263 180.993 8.81518C180.691 9.62774 180.224 10.3662 179.623 10.9826C179.022 11.599 178.301 12.0794 177.505 12.3925C176.71 12.7057 175.859 12.8445 175.008 12.8H170.443V0.23999ZM171.751 11.9467C171.751 11.9467 173.307 12.04 174.197 12.04C176.813 12.04 179.586 11.0667 179.586 6.26668C179.586 2.04002 177.493 1.01335 174.615 1.01335C173.922 1.01335 171.751 1.18669 171.751 1.18669V11.9467Z" fill="white"/>
<path d="M188.545 0C190.272 4.21333 193.856 12.76 193.856 12.76H191.985C191.985 12.76 190.808 9.50669 190.167 7.89335C189.409 7.89335 188.637 7.89335 187.865 7.89335C187.093 7.89335 186.426 7.89335 185.707 7.89335C184.975 9.76002 183.994 12.76 183.994 12.76H182.686C182.686 12.76 186.4 4.28 188.192 0H188.545ZM187.957 2.45333L186.008 7.06665H187.931H189.932L187.957 2.45333Z" fill="white"/>
<path d="M207.733 0.239998H206.53V12.7333H207.733V0.239998Z" fill="white"/>
</svg>
</div></section><section class="widget black-studio-tinymce-2 widget_black_studio_tinymce"><div class="textwidget"><h2>Promoting a Legacy of Good Works</h2>
<p class="small">1, Okhunwun Road, Off Benin-Lagos Road<br>
Iguosa, Benin City, Edo State Nigeria<br>
+1 248-643-9630</p>
<a class="link--arrow" href="/contact/">Contact Us</a></div></section>                </div>
                <div class="column xs-100 md-50 lg-25">
                    <div class="site-footer__signup-form mobile-hide no-print">
                        
                        <form class="site-footer__form" action="/subscribe-connect">
                            <label for="email" class="screen-reader-text">Email</label>
                            <input type="text" name="email" id="email" placeholder="Your email address">
                            <button type="submit"><span class="screen-reader-text">Submit</span><i
                                    class="icon icon-chevron-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="no-print">
                        <ul class="social-links list-inline"><li><a href="https://www.facebook.com/TheKresgeFoundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--facebook"><i class="icon-facebook icon" aria-hidden="tue"></i><span class="screen-reader-text">facebook</span></a></li><li><a href="https://www.instagram.com/thekresgefoundation/" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--instagram"><i class="icon-instagram icon" aria-hidden="tue"></i><span class="screen-reader-text">instagram</span></a></li><li><a href="https://www.linkedin.com/company/the-kresge-foundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--linkedin"><i class="icon-linkedin icon" aria-hidden="tue"></i><span class="screen-reader-text">linkedin</span></a></li><li><a href="https://twitter.com/kresgefdn" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--twitter"><i class="icon-twitter icon" aria-hidden="tue"></i><span class="screen-reader-text">twitter</span></a></li><li><a href="https://www.youtube.com/user/TheKresgeFoundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--youtube"><i class="icon-youtube icon" aria-hidden="tue"></i><span class="screen-reader-text">youtube</span></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__sub">
        <div class="site-footer__programs">
            <div class="container">
                                <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="nav list-inline"><li id="menu-item-15768" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15768"><a href="/users/our-work/american-cities/">Orphans and Less Priviledged</a></li>
 <li id="menu-item-15748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15748"><a href="/users/our-work/Poverty Alleviation/">Poverty Alleviation</a></li>
 <li id="menu-item-15767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15767"><a href="/users/our-work/environment/">Stroke Awareness</a></li>
 <li id="menu-item-15765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15765"><a href="/users/our-work/human-services/">Christian Missions</a></li>
 </ul></div>
                            </div>
        </div>
        <div class="site-footer__sub-sub">
            <div class="container">

                <p class="copyright small">&copy; 2022
                    GEOMF
                </p>
                                <div class="menu-footer-sub-menu-container"><ul id="menu-footer-sub-menu" class="nav list-inline"><li id="menu-item-15749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15749"><a href="/users/legal/">Legal</a></li>
<li id="menu-item-38997" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38997"><a href="/users/news-views/kresge-foundation-name-being-used-in-scams/">Scam Alert</a></li>
</ul></div>
                            </div>
        </div>
    </div>
</footer>    		<!-- Google Tag Manager (noscript) snippet added by Site Kit -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXG5S6T" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) snippet added by Site Kit -->
		<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/libs/ChartJs/Chart.min.js' id='acwpb-chartjs-js'></script>
<script type='text/javascript' id='acwpb-chartjs-js-after'>
;rrjChart.defaults.global.defaultFontFamily = "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif";rrjChart.defaults.global.defaultFontSize = 12;
</script>
<script type='text/javascript' id='acwpb-charts-js-before'>
;var rrjChartPluginOptions = {"force-axes-color":false,"axes-color":"#3a3a3a","legend-font-color":"#3a3a3a","legend-font-size":"","tooltip-font-size":"","default-font-size":"12","font-family":"-apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif","t-separator":"","init":"33","usescroll":true};
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/js/chart-controller.min.js' id='acwpb-charts-js'></script>
<script type='text/javascript' id='acwpb-data-loader-js-before'>
;var rrjVars = {"ajaxUrl":"https:\/\/kresge.org\/wp-admin\/admin-ajax.php","restUrl":"https:\/\/kresge.org\/wp-json\/rrj-advanced-charts\/v1\/function\/","condsJson":"{\"is_front_page\":false,\"is_home\":false,\"is_singular\":true,\"is_page\":true,\"is_user_logged_in\":false,\"post_id\":55}","condsEncoded":"%7B%22is_front_page%22%3Afalse%2C%22is_home%22%3Afalse%2C%22is_singular%22%3Atrue%2C%22is_page%22%3Atrue%2C%22is_user_logged_in%22%3Afalse%2C%22post_id%22%3A55%7D"};
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/js/data-loaders.min.js' id='acwpb-data-loader-js'></script>
<script type='text/javascript' id='sage/main.js-js-extra'>
/* <![CDATA[ */
var visceral = {"ajaxurl":"https:\/\/kresge.org\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/themes/kresge-foundation/dist/scripts/main.js' id='sage/main.js-js'></script>
<script type='text/javascript' id='wpb_composer_front_js-js-extra'>
/* <![CDATA[ */
var vcData = {"currentTheme":{"slug":"kresge-foundation\/resources"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js' id='wpb_composer_front_js-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/js_composer/assets/lib/bower/skrollr/dist/skrollr.min.js' id='vc_jquery_skrollr_js-js'></script>
</body>

</html>