<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./links.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="https://www.paypal.com/sdk/js?components=buttons,hosted-fields&client-id=<%= clientId %>"
      data-client-token="<%= clientToken %>"
    ></script>
  </head>
  <body style="background-color: #001021;">
    <h1 style="color:aliceblue; text-align:center; font-size: 96px; font-weight: bold; margin-top: 40px">We need you support!</h1>
    <div style="max-width: 50%; margin: auto;">
        <p style="color:aliceblue; text-align:center;">June 12 2021, the Grace E Omoifo memorial Foundation successfully had her inaugural outing with outreach visits to two Orphanages with the Benin metropolis. Edo Orphanage and Iwinosa Orphanage both situated in Oredo local government area of Benin. There was palpable excitement as Friends and volunteers unloaded the packages and moved them from the conveying vehicles and vans into the buildings. This excitement was translated to empathy, happiness and a sense of satisfaction when we actually saw the Orphans, carried the babies, interacted with the children, clapped, sang, and prayed with them. Such beautiful babies, young children completely oblivious of the seeming disadvantage of their immediate circumstances. Just happy to be. They lean on one another for strength and support. The older children are taught to care for the younger ones like siblings. The love and togetherness amongst them is remarkable. They have been brought together by circumstances beyond their control yet they make the most of this. Many will complain less about their lot in life when they savour the beautiful tastes of the lemonades that the Orphans and their minders heartily make from life's lemons. We wish to express our deep appreciation to the Friends and partners of the Grace E Omoifo memorial Foundation (GEOMF) for their support in making this desire a reality. Grace for greater exploits!</p>
        <div id="paypal-button-container" style="max-width: 50%; margin: auto;"></div>
        <!-- Sample PayPal credentials (client-id) are included -->
        <script src="https://www.paypal.com/sdk/js?client-id=AZpqT1uj7oL51_MPLrwaRTjTZYZ5-poqaZChPulR-w7SHIbCDWD06a1Rr_jjUwqZUOxGk1pJ7PcbLKky&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
        <script>
          const paypalButtonsComponent = paypal.Buttons({
              // optional styling for buttons
              // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
              style: {
                color: "gold",
                shape: "rect",
                layout: "vertical"
              },

              // set up the transaction
              createOrder: (data, actions) => {
                  // pass in any options from the v2 orders create call:
                  // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
                  const createOrderPayload = {
                      purchase_units: [
                          {
                              amount: {
                                  value: "88.44"
                              }
                          }
                      ]
                  };

                  return actions.order.create(createOrderPayload);
              },

              // finalize the transaction
              onApprove: (data, actions) => {
                  const captureOrderHandler = (details) => {
                      const payerName = details.payer.name.given_name;
                      console.log('Transaction completed');
                  };

                  return actions.order.capture().then(captureOrderHandler);
              },

              // handle unrecoverable errors
              onError: (err) => {
                  console.error('An error prevented the buyer from checking out with PayPal');
              }
          });

          paypalButtonsComponent
              .render("#paypal-button-container")
              .catch((err) => {
                  console.error('PayPal Buttons failed to render');
              });
        </script>
    </div>
  </body>
</html>

<script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID"></script>