<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./links.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./navbar.ejs') %>
  </body>
</html>