    
    <ul class="e-topbar">
            <a href="/"><img class="e-nav-logo" src="/images/logo.png"></a>
            
            <a class="e-nav-item-h e-right" href="/users/gallery">GALLERY</a>
            <a class="e-nav-item-h e-right" href="/users/calendar">CALENDAR</a>
            <a class="e-nav-item-h e-right" href="/users/donate">DONATE</a>
            <a class="e-nav-item-h e-right" href="/">HOME</a>
    </ul>
