<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/eazy.css">
    <title>Document</title>
</head>
<body>
    <ul class="e-topbar">
        
            <a class="e-nav-item-h e-right" href="/">HOME</a>
            <a class="e-nav-item-h" href="users/donate">DONATE</a>
            <a class="e-nav-item-h" href="users/calendar">CALENDAR</a>
            <a class="e-nav-item-h" href="users/gallery">GALLERY</a>
        
    </ul>
</body>
</html>