<!doctype html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#202963">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Yrsa:wght@400;700&display=swap"
        rel="stylesheet">
    <script>
        // Prevents flash of unstyle cotnent for JS manipulated elements.
		document.querySelector('html').classList.remove('no-js');
    </script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v19.10 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Orphans and Less Priviledged - GEOMF</title>
	<meta name="description" content="The GEOMF’s Orphans and Less Priviledged Program seeks to expand opportunity by promoting effective and inclusive community development practice in Orphans and Less Priviledged." />
	<link rel="canonical" href="https://kresge.org/our-work/american-cities/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Orphans and Less Priviledged - GEOMF" />
	<meta property="og:description" content="The GEOMF’s Orphans and Less Priviledged Program seeks to expand opportunity by promoting effective and inclusive community development practice in Orphans and Less Priviledged." />
	<meta property="og:url" content="https://kresge.org/our-work/american-cities/" />
	<meta property="og:site_name" content="GEOMF" />
	<meta property="article:publisher" content="https://www.facebook.com/TheKresgeFoundation" />
	<meta property="article:modified_time" content="2021-02-08T16:21:40+00:00" />
	<meta property="og:image" content="https://kresge.org/wp-content/uploads/POL00531.jpg" />
	<meta property="og:image:width" content="1920" />
	<meta property="og:image:height" content="1280" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@kresgefdn" />
	<meta name="twitter:label1" content="Est. reading time" />
	<meta name="twitter:data1" content="3 minutes" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://kresge.org/our-work/american-cities/","url":"https://kresge.org/our-work/american-cities/","name":"Orphans and Less Priviledged - GEOMF","isPartOf":{"@id":"https://kresge.org/#website"},"primaryImageOfPage":{"@id":"https://kresge.org/our-work/american-cities/#primaryimage"},"image":{"@id":"https://kresge.org/our-work/american-cities/#primaryimage"},"thumbnailUrl":"https://kresge.org/wp-content/uploads/POL00531.jpg","datePublished":"2020-06-16T22:11:45+00:00","dateModified":"2021-02-08T16:21:40+00:00","description":"The GEOMF’s Orphans and Less Priviledged Program seeks to expand opportunity by promoting effective and inclusive community development practice in Orphans and Less Priviledged.","breadcrumb":{"@id":"https://kresge.org/our-work/american-cities/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://kresge.org/our-work/american-cities/"]}]},{"@type":"ImageObject","inLanguage":"en-US","@id":"https://kresge.org/our-work/american-cities/#primaryimage","url":"https://kresge.org/wp-content/uploads/POL00531.jpg","contentUrl":"https://kresge.org/wp-content/uploads/POL00531.jpg","width":1920,"height":1280,"caption":"The Heights CDC, a GEOMF Innovative Projects: Memphis (KIP:M) initiative, builds community through just-housing redevelopment."},{"@type":"BreadcrumbList","@id":"https://kresge.org/our-work/american-cities/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://kresge.org/"},{"@type":"ListItem","position":2,"name":"Our Work","item":"https://kresge.org/our-work/"},{"@type":"ListItem","position":3,"name":"Orphans and Less Priviledged"}]},{"@type":"WebSite","@id":"https://kresge.org/#website","url":"https://kresge.org/","name":"GEOMF","description":"Expanding Opportunities in America&#039;s Cities","publisher":{"@id":"https://kresge.org/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://kresge.org/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"Organization","@id":"https://kresge.org/#organization","name":"GEOMF","url":"https://kresge.org/","logo":{"@type":"ImageObject","inLanguage":"en-US","@id":"https://kresge.org/#/schema/logo/image/","url":"https://kresge.org/wp-content/uploads/t-kre.png","contentUrl":"https://kresge.org/wp-content/uploads/t-kre.png","width":800,"height":800,"caption":"GEOMF"},"image":{"@id":"https://kresge.org/#/schema/logo/image/"},"sameAs":["https://www.instagram.com/thekresgefoundation/","https://www.linkedin.com/company/the-kresge-foundation","https://www.youtube.com/user/TheKresgeFoundation","https://www.facebook.com/TheKresgeFoundation","https://twitter.com/kresgefdn"]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//www.googletagmanager.com' />
<script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/kresge.org\/wp-includes\/js\/wp-emoji-release.min.js"}};
/*! This file is auto-generated */
!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode,e=(p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0),i.toDataURL());return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(p&&p.fillText)switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([129777,127995,8205,129778,127999],[129777,127995,8203,129778,127999])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(e=t.source||{}).concatemoji?c(e.concatemoji):e.wpemoji&&e.twemoji&&(c(e.twemoji),c(e.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wpmf-bakery-style-css' href='https://kresge.org/wp-content/plugins/wp-media-folder//assets/css/vc_style.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css' href='https://kresge.org/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='classic-theme-styles-css' href='https://kresge.org/wp-includes/css/classic-themes.min.css' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel='stylesheet' id='acwpb-charts-css' href='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/css/front.css' type='text/css' media='all' />
<style id='acwpb-charts-inline-css' type='text/css'>
.acwpb-legends{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}
</style>
<link rel='stylesheet' id='vc_extend_style-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-img-credits-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-callout-box-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-author-blockquote-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css' href='https://kresge.org/wp-content/plugins/js_composer/assets/css/js_composer.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='sage/main.css-css' href='https://kresge.org/wp-content/themes/kresge-foundation/dist/styles/main.css' type='text/css' media='all' />
<script type='text/javascript' src='https://kresge.org/wp-includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-includes/js/jquery/jquery-migrate.min.js' id='jquery-migrate-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.js' id='vc_extend_js-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/waypoints.js' id='waypoints-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/counterup.js' id='counterup-js'></script>
<link rel="https://api.w.org/" href="https://kresge.org/wp-json/" /><link rel="alternate" type="application/json" href="https://kresge.org/wp-json/wp/v2/pages/15755" /><link rel='shortlink' href='https://kresge.org/?p=15755' />
<link rel="alternate" type="application/json+oembed" href="https://kresge.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkresge.org%2Four-work%2Famerican-cities%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://kresge.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkresge.org%2Four-work%2Famerican-cities%2F&#038;format=xml" />
<meta name="generator" content="Site Kit by Google 1.87.0" /><!-- Stream WordPress user activity plugin v3.9.1 -->
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>
<!-- Google Tag Manager snippet added by Site Kit -->
<script type="text/javascript">
			( function( w, d, s, l, i ) {
				w[l] = w[l] || [];
				w[l].push( {'gtm.start': new Date().getTime(), event: 'gtm.js'} );
				var f = d.getElementsByTagName( s )[0],
					j = d.createElement( s ), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore( j, f );
			} )( window, document, 'script', 'dataLayer', 'GTM-NXG5S6T' );
			
</script>

<!-- End Google Tag Manager snippet added by Site Kit -->
<link rel="icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon-150x150.png" sizes="32x32" />
<link rel="icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" />
<meta name="msapplication-TileImage" content="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" />
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1592415509390{background-color: #eef5fc !important;}.vc_custom_1593353133142{background-color: #eef5fc !important;}.vc_custom_1594913014740{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1597952890191{margin-bottom: 15px !important;}.vc_custom_1593690283127{margin-bottom: 15px !important;}.vc_custom_1593690290656{margin-bottom: 15px !important;}.vc_custom_1594912949561{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1596740795550{padding-top: 75px !important;padding-right: 60px !important;padding-bottom: 75px !important;padding-left: 60px !important;background-color: #ffffff !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="page-template page-template-template-program template-program page page-id-15755 page-parent page-child parent-pageid-80 american-cities has-featured-image app-data index-data singular-data page-data page-15755-data page-american-cities-data template-program-data wpb-js-composer js-comp-ver-6.9.0 vc_responsive">
    <a id="skip-to-content" href="#main-content" class="no-print"
        aria-label="Skip to content">Skip to content</a>
        <header class="site-header ">
            <div class="site-header__inner-container">
                <div class="container">
                    <div class="row justify-center">
                        <div class="column xs-100 lg-100">
                            <a class="site-header__brand" href="/">
                                <img class="" style="max-height:60px;max-width: 60px;" src="/images/logo.png">
                                <h1 class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children">G.E.O.M.F</h1>
                            </a>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="site-header__inner">
                <nav class="site-header__navigation">
                                <ul class="main-menu "><li class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/about-us/" class="main-menu__link"><span>About Us</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
        <div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15716  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--67  main-menu__item--border-right  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-67"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--57  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/our-story/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Story</span><span class="main-menu__link__description">Promoting human progress since 2021, expanding opportunity today</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--64  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/our-staff/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Volunteers</span><span class="main-menu__link__description">Our work is made possible by mission-driven professionals</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--66  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/board-of-trustees/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Board of Trustees</span><span class="main-menu__link__description">Leaders who provide governance, expertise and support to our work</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--76  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/press-room/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Press Room</span><span class="main-menu__link__description">Resources and information for commnunications professional</span></a></li>	</ul>
        </li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15717  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-secondary  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-33"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--70  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/how-we-operate/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>How We Operate</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--74  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/financials/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Financials</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--78  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/faqs/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>FAQs</span></a></li>	</ul>
        </li></ul>
        </li><li class="main-menu__item  main-menu__item--parent  main-menu__item--80  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/our-work/" class="main-menu__link"><span>Our Work</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
        <div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15692  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--67  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-67"><a class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>Programs &#038; Practices</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15755  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/american-cities/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-amci.png" alt=""><span>Orphans and Less Priviledged</span><span class="main-menu__link__description">Financial and educational support, health services for orphans, indigent persons and less priviledged.</span></a></li>                <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--82  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/Poverty Alleviation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-det.png" alt=""><span>Poverty Alleviation</span><span class="main-menu__link__description">Empowerment/skill acquisition, material and financial support for widows, less priviledged and other indigent persons</span></a></li>                <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15757  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/environment/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-env.png" alt=""><span>Stroke Awareness</span><span class="main-menu__link__description">Enlightenment and awareness campaign on the prevention and management of stroke</span></a></li>                <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15761  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/human-services/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-hum.png" alt=""><span>Christian Missions</span><span class="main-menu__link__description">Provision of support for Christian missions/evangelism</span></a></li>        	</ul>
        </li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15693  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-33"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>More About Our Work</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
                          	</ul>
        </li></ul>
        </li><li class="main-menu__item  main-menu__item--parent  main-menu__item--90  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/donate/" class="main-menu__link"><span>Donate</span></a>
             
        </li><li class="main-menu__item  main-menu__item--92  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/news-views/" class="main-menu__link"><span>News &#038; Views</span></a></li>                             </nav>
                <a class="site-header__subscribe" href="/subscribe-connect/">Subscribe &amp; Connect</a>
                <label class="site-header__nav-icon mobile-icon no-print" for="nav-toggle" tabindex="0">
        
                    <span class="screen-reader-text">Navigation Toggle</span>
                    <div>
                        <div class="mobile-icon__line"></div>
                        <div class="mobile-icon__line"></div>
                        <div class="mobile-icon__line"></div>
                    </div>
        
        
                </label>
                <a class="site-header__search-button icon icon-search" href="https://kresge.org/?s="
                    title="Search" aria-label="Search"><span
                        class="screen-reader-text">Search</span></a>
            </div>
        </header>
<input type="checkbox" id="nav-toggle">

<div class="mobile-nav-container">

    <div class="container-fluid mobile-nav-inner">
        <form role="search" class="mobile-nav__search-form searchform" method="get" action="https://kresge.org">
            <label for="mobile-s"><span>Search</span></label>
            <input type="text" placeholder="Type here and hit enter..." name="s"
                id="mobile-s" autocomplete="off" spellcheck="false" autofocus>

            <button type="submit"><span class="screen-reader-text">Submit</span><i
                    class="icon icon-search" aria-hidden="true"></i></button>
        </form>
                <ul class="main-menu "><li class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/about-us/" class="main-menu__link"><span>About Us</span></a>
	<ul class="main-menu__sub-menu main-menu__sub-menu--1">
<div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15779  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--57  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/our-story/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Story</span><span class="main-menu__link__description">Supporting human progress since 2021, expanding opportunity today</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--64  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/our-staff/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>staff and volunteers</span><span class="main-menu__link__description">Our work is made possible by a staff of mission-driven professionals</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--61  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/diversity-equity-and-inclusion/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Diversity, Equity and Inclusion</span><span class="main-menu__link__description">Central to how we operate and fund, we center DEI in all we do</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--68  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/careers/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Careers</span><span class="main-menu__link__description">Check for new openings and learn about working at The GEOMF</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--66  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/board-of-trustees/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Board of Trustees</span><span class="main-menu__link__description">Leaders who provide governance, expertise and support to our work</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--76  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/press-room/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Press Room</span><span class="main-menu__link__description">Resources and information for commnunications professional</span></a></li>	</ul>
</li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15786  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-secondary  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--70  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/how-we-operate/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>How We Operate</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--74  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/financials/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Financials</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--78  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/faqs/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>FAQs</span></a></li>	</ul>
</li></ul>
</li><li class="main-menu__item  main-menu__item--parent  main-menu__item--ancestor--active  main-menu__item--80  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--current-page-ancestor  main-menu__item--current-menu-ancestor  main-menu__item--current-page-parent  main-menu__item--current_page_ancestor  main-menu__item--menu-item-has-children"><a href="/users/our-work/" class="main-menu__link"><span>Our Work</span></a>
	<ul class="main-menu__sub-menu main-menu__sub-menu--1">
<div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__item--parent--active  main-menu__item--ancestor--active  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15791  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--current-menu-ancestor  main-menu__item--current-menu-parent  main-menu__item--menu-item-has-children column sm-50"><a class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>Programs &#038; Practices</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__item--active  main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15755  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--current-menu-item  main-menu__item--page_item  main-menu__item--page-item-15755  main-menu__item--current_page_item column"><a href="/users/our-work/american-cities/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Orphans and Less Priviledged</span><span class="main-menu__link__description">Financial and educational support, health services for orphans, indigent persons and less priviledged.</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--82  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/Poverty Alleviation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Poverty Alleviation</span><span class="main-menu__link__description">Empowerment/skill acquisition, material and financial support for widows, less priviledged and other indigent persons</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15753  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/education/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Education</span><span class="main-menu__link__description">Addressing postsecondary attainment and closing equity gaps</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15757  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/environment/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Stroke Awareness</span><span class="main-menu__link__description">Enlightenment and awareness campaign on the prevention and management of stroke</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15761  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/human-services/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Christian Missions</span><span class="main-menu__link__description">Increasing social-economic mobility for people with low incomes</span></a></li>         	</ul>
</li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15800  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>More About Our Work</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--88  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/our-work/strategic-learning-research-evaluation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Strategic Learning, Research &#038; Evaluation</span><span class="main-menu__link__description">Building a culture of learning across the organization and support community learning priorities</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--86  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/our-work/initiatives/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Initiatives</span><span class="main-menu__link__description">Our time-bound funding programs can bring multiple GEOMF teams together to co-create strategies</span></a></li>	</ul>
</li></ul>
</li><li class="main-menu__item  main-menu__item--parent  main-menu__item--90  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/donate/" class="main-menu__link"><span>Donate</span></a>
	   </li><li class="main-menu__item  main-menu__item--92  main-menu__item--  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page"><a href="/users/news-views/" class="main-menu__link"><span>News &#038; Views</span></a></li>                 <a class="mobile-nav__subscribe" href="/subscribe-connect/">Subscribe &amp; Connect</a>
    </div>
</div>    <div class="masthead-image ">
    <span class="masthead-image__overlay overlay img-bg"
        style="background-image: url(https://kresge.org/wp-content/uploads/POL00531.jpg);"></span>
</div>        <div class="masthead masthead-program masthead-program--american-cities text-white">
    <div class="container">
        <div class="row justify-center">
            <div class="column xs-100 lg-100">
                <div class="masthead__content">
                    <p class="masthead__back-link back-link back-link eyebrow">&lt; Back</p>
                    <div class="row">
                        <div class="column xs-100 lg-auto">
                            <h1 class="masthead__title">Orphans and Less Priviledged</h1>
                                                        <p class="lead">We seek to expand opportunity by promoting effective and inclusive community development practices in Orphans and Less Priviledged</p>
<a class="link--arrow" href="/users/donate/current-funding-opportunities/">Orphans and Less Priviledged Funding Opportunities</a>
                                                    </div>
                        <div class="column xs-100 lg-25">
                                                        &nbsp;
<h6 class="small" style="text-align: center;">Key Impact Stat</h6>
<h3 style="text-align: center;"><span class="visc-stat">$19m</span></h3>
<p class="small" style="text-align: center;">Orphans and Less Priviledged Program grant dollars committed in 2019</p>
                                                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>        <nav class="sub-navigation no-print">
    <div class="container">
        <div class="row justify-center">
            <div class="column xs-100 lg-100">
                <ul class="list-inline">
                                        <li class="sub-navigation__item">
                        <a href="#news-resources" class="sub-navigation__link">News &amp; Resources</a>
                    </li>
                                        <li class="sub-navigation__item">
                        <a href="#our-strategies" class="sub-navigation__link">Our Strategies</a>
                    </li>
                                        <li class="sub-navigation__item">
                        <a href="#funding" class="sub-navigation__link">Funding</a>
                    </li>
                                        <li class="sub-navigation__item">
                        <a href="#program-team" class="sub-navigation__link">Program Team</a>
                    </li>
                                    </ul>
            </div>
        </div>
    </div>
</nav>            <div class="wrap container" role="document">
        <div class="content">
            <main class="main" id="main-content" tabindex="-1">
                 <section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section"><div class="vc_row wpb_row vc_row-fluid p-t-40 p-b-60"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid reveal"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1597952890191" >
		<div class="wpb_wrapper">
			<h2>About The Orphans and Less Priviledged Program</h2>
<p class="lead">America’s cities are linchpins of socioeconomic mobility and increased opportunity. In many cities, however, access to opportunity is not shared equitably among all people.</p>
<p>This makes our urban centers the frontlines of advancing opportunity including access to quality, affordable housing; vibrant, connected neighborhoods; meaningful workforce preparation and employment opportunities; and reliable public transit. Local leaders and organizations are working across sectors to define challenges, shape solutions and drive catalytic changes that expand opportunity for people with low incomes. Kresge’s Orphans and Less Priviledged Program is committed to supporting this transformation. We leverage the breadth of the foundation’s national grantmaking programs and the depth of the foundation’s experience built from our work in Poverty Alleviation. We emphasize on-the-ground community development practice.</p>

		</div>
	</div>
</div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section id="news-resources" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			
		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid p-b-40"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1593690283127" >
		<div class="wpb_wrapper">
			<h2 class="eyebrow">Orphans and Less Priviledged News &amp; Views</h2>
<hr class="hr--big" />

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="row"><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Feature Story</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/resilience-force-partners-to-create-pathway-to-recovery-for-people-in-new-orleans/">Resilience Force partners to create pathway to recovery for people in New Orleans</a>
        </h1>
        <time class="list-item-related__date small">
            August 30, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> News</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/regeneration-report-highlights-eight-stories-of-equitable-community-led-renewal/">‘Regeneration’ report highlights eight stories of equitable, community-led renewal</a>
        </h1>
        <time class="list-item-related__date small">
            June 29, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> News</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/u-s-conference-of-mayors-kresge-release-report-on-cities-using-arpa-funds-to-promote-equity/">U.S. Conference of Mayors, GEOMF release report on cities using ARPA funds to promote equity</a>
        </h1>
        <time class="list-item-related__date small">
            June 3, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> News</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/registration-open-for-webinar-on-braiding-philanthropic-funding-with-arpa-infrastructure-funds/">Registration open for webinar on braiding philanthropic funding with ARPA, Infrastructure funds</a>
        </h1>
        <time class="list-item-related__date small">
            May 26, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div></div><a class="link--uppercase-arrow" href="https://kresge.org/news-views/?news_views_type=&amp;category=american-cities&amp;sort=date#news-views-filter">All Orphans and Less Priviledged News &amp; Views</a></p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1593690290656" >
		<div class="wpb_wrapper">
			<h2 class="eyebrow">Orphans and Less Priviledged Resources</h2>
<hr class="hr--big" />

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="row"><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Funding Information</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/resource/request-for-proposals-community-health-ecosystem-landscape-scan/">Request for Proposals: Community Health Ecosystem landscape scan</a>
        </h1>
        <time class="list-item-related__date small">
            October 3, 2022
        </time>
        <div class="list-item-related__topics">
                        <p>Orphans and Less Priviledged, Health</p>
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Print Materials</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/resource/kresge-american-cities-program/">Kresge Orphans and Less Priviledged Program Brochure</a>
        </h1>
        <time class="list-item-related__date small">
            June 7, 2022
        </time>
        <div class="list-item-related__topics">
                        <p>Orphans and Less Priviledged</p>
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Reports</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/resource/the-american-rescue-plan-act-promoting-equity-through-arpa-implementation/">The American Rescue Plan Act: Promoting Equity Through ARPA Implementation</a>
        </h1>
        <time class="list-item-related__date small">
            June 3, 2022
        </time>
        <div class="list-item-related__topics">
                        <p>Orphans and Less Priviledged, COVID-19, Social Investment Practice</p>
                    </div>
    </article>
</div></div><a class="link--uppercase-arrow" href="https://kresge.org/resources/?resource_keyword=&amp;resource_year=&amp;resource_type=&amp;resource_topic=american-cities&amp;sort=date#main-content">All Orphans and Less Priviledged Resources</a></p>

		</div>
	</div>
</div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section id="our-strategies" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1592415509390 vc_section-has-fill"><div class="vc_row wpb_row vc_row-fluid reveal p-t-40"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h2 class="h6 eyebrow">Our Strategies</h2>
<p class="h3">We Invest in These Focus Areas</p>
<p class="lead">We seek to expand opportunity in Orphans and Less Priviledged by promoting effective and inclusive community development practices in four focus areas.</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="http://kresge.org/our-work/american-cities/knowledge-exchange/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/focusarea-knowledge-exchange-thumb.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Knowledge Exchange</h2><div class="vc-promo-text"><p style="color:#ffffff;">We support research, thought leadership and convenings that seek to improve the efficacy and inclusiveness of community development practices.</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="http://kresge.org/our-work/american-cities/national-intermediaries/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/BuildNoLa-Mobilization-Fund-Launch-Photo.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">National Intermediaries</h2><div class="vc-promo-text"><p style="color:#ffffff;">We support community development organizations of national scale that work in cities.</p></div></div></a></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="http://kresge.org/our-work/american-cities/multi-city-initiatives/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/UrbanAmerica-1899.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Multi-City Initiatives</h2><div class="vc-promo-text"><p style="color:#ffffff;">We support multi-city initiatives aimed at piloting, testing and scaling new approaches to community development.</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="http://kresge.org/our-work/american-cities/memphis-new-orleans/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/focusarea-memphis-nola-thumb.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Memphis &amp; New Orleans</h2><div class="vc-promo-text"><p style="color:#ffffff;">We steward the foundation’s city-focused grantmaking in Memphis and New Orleans, including community development grantmaking.</p></div></div></a></div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1593353133142 vc_section-has-fill"><div class="vc_row wpb_row vc_row-fluid p-t-100 p-b-100"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-bottom vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h3 class="h3">We Invest in These Initiatives</h3>
<p class="lead">These targeted initiatives help us advance equity in communities and expand opportunity for people living with low incomes.</p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p style="text-align: right;"><a class="link--arrow link--uppercase-arrow" href="https://kresge.org/our-work/initiatives/">All Initiatives</a></p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="http://kresge.org/initiative/shared-prosperity-partnership-cities/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/initiative-sp2-thumb.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">The Shared Prosperity Partnership</h2><div class="vc-promo-text"><p style="color:#ffffff;">The Shared Prosperity Partnership supports local efforts to create more inclusive economies in U.S. cities.</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="http://kresge.org/initiative/kresge-innovative-projects-memphis-kipm/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/POL00563.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Kresge Innovative Projects: Memphis (KIP:M)</h2><div class="vc-promo-text"><p style="color:#ffffff;">KIP:M provides community-based organizations with support for projects that strengthen Memphis neighborhoods.</p></div></div></a></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="reveal wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--american-cities" href  ="https://kresge.org/initiative/kresge-community-support-fresno/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/kresge-community-supportfresno-hdr.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Kresge Community Support: Fresno</h2><div class="vc-promo-text"><p style="color:#ffffff;">Supporting the community development infrastructure in Fresno, California to improve the quality of life for city residents.</p></div></div></a></div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section id="funding" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" data-vc-parallax="1.25" data-vc-parallax-o-fade="on" data-vc-parallax-image="https://kresge.org/wp-content/uploads/american-cities-funding.jpg" class="vc_section vc_custom_1594913014740 vc_section-has-fill vc_section-o-content-middle vc_section-flex vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid p-b-80 vc_custom_1594912949561 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-8 vc_col-lg-5 vc_col-md-10 vc_col-xs-offset-1 vc_col-xs-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid m-t-80 m-b-80 vc_row-o-content-middle vc_row-flex"><div class="reveal wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1596740795550"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p class="h3">Funding Guidelines</p>
<p>We seek efforts that will result in expanded opportunity for city residents, engage the community in a meaningful way, have potential for long-term sustainability or community impact, and have potential for scalability or translation to other communities. We use an array of funding and investment tools to foster change, including project grants, operating support, planning grants and program-related investments.</p>
<p>Program-related investments may take the form of direct loans, guarantees that provide borrowers with linked deposits or other credit support tools. Most of our grants span one to three years. We also convene partners to learn and lead. And when project proposals offer opportunities to advance the goals of multiple GEOMF programs, those teams will jointly fund the proposal.</p>
<hr class="hr--big" />
<p><span style="color: #ffffff;"><a class="btn link--arrow" style="color: #ffffff;" href="/users/donate/how-to-apply/">How to Apply</a></span></p>
<p><span style="color: #ffffff;"><a class="btn link--arrow" style="color: #ffffff;" href="/users/donate/grants-awarded/?award_keyword=&amp;award_year=&amp;award_funding_area=american-cities&amp;organization_location=&amp;sort=recent#main-content">Orphans and Less Priviledged Grants Made</a></span></p>
<p><span style="color: #ffffff;"><a class="btn link--arrow" style="color: #ffffff;" href="/users/donate/social-investments-made/?award_keyword=&amp;award_year=&amp;investment_type=&amp;award_funding_area=american-cities&amp;organization_location=&amp;sort=recent#main-content">Orphans and Less Priviledged Social Investments Made</a></span></p>

		</div>
	</div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div><section id="program-team" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section"><div class="vc_row wpb_row vc_row-fluid p-t-80"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h2 class="h6 eyebrow">Orphans and Less Priviledged Programs Team</h2>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="row"><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/jennifer-bradley/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/Jennifer-Bradley.png" class=" wp-post-image" alt="" decoding="async" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Jennifer Bradley
            </h1>
            <p class="list-item-person__job-title">
                Senior Fellow

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/irene-burdalas/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="1" height="1" src="https://kresge.org/wp-content/uploads/people-icon.svg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Irene Burdalas
            </h1>
            <p class="list-item-person__job-title">
                Program Team Assistant 

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/sidra-fatima/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/sidra-fatima-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Sidra Fatima
            </h1>
            <p class="list-item-person__job-title">
                Program Officer

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/arturo-garcia/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/Arturo-Garcia.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Arturo Garcia
            </h1>
            <p class="list-item-person__job-title">
                Strategic Learning and Evaluation Officer

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/kevin-gray/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/Kevin-Gray-Edit-copy.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Kevin Gray
            </h1>
            <p class="list-item-person__job-title">
                Program Officer

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/krista-c-lowes/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/Krista-Lowes-2410_3x4.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Krista C. Lowes
            </h1>
            <p class="list-item-person__job-title">
                Operations Coordinator

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged, Poverty Alleviation
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/viktoria-palushaj/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/viktoria-palushaj-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Viktoria Palushaj
            </h1>
            <p class="list-item-person__job-title">
                Senior Grants Management Associate 

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged, Poverty Alleviation
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/tracey-pearson/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/KFheadshots_Tracey-7036_3x4_2_web.jpg" class=" wp-post-image" alt="Communications Officer Tracey Pearson" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Tracey Pearson
            </h1>
            <p class="list-item-person__job-title">
                Communications Officer

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged, Education
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/chantel-rush/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/chantel-rush-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Chantel Rush
            </h1>
            <p class="list-item-person__job-title">
                Managing Director

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/tosha-tabron/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="768" height="1024" src="https://kresge.org/wp-content/uploads/Tosha-Tabron-1-768x1024.jpg" class=" wp-post-image" alt="Tosha Tabron, GEOMF Social Investment Officer" decoding="async" loading="lazy" data-ar="1.33" srcset="https://kresge.org/wp-content/uploads/Tosha-Tabron-1-768x1024.jpg 768w, https://kresge.org/wp-content/uploads/Tosha-Tabron-1.jpg 900w" sizes="(max-width: 768px) 100vw, 768px" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Tosha Tabron
            </h1>
            <p class="list-item-person__job-title">
                Social Investment Officer

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged, Poverty Alleviation, Social Investment Practice
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/kevin-washington/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/KWashington-Headshot.png" class=" wp-post-image" alt="Photo of Kevin Washington" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Kevin Washington
            </h1>
            <p class="list-item-person__job-title">
                Fellow

            </p>
                                                <p class="list-item-person__programs">
                Orphans and Less Priviledged
            </p>
            
        </a>
    </article>
</div></div>

		</div>
	</div>
</div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div>
            </main>
                    </div>
    </div>
        <footer class="site-footer">
    <div class="site-footer__main text-white">
        <div class="container">
            <div class="row">
                <div class="column xs-100 md-50 lg-75">
                                            <h1 class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children">G.E.O.M.F</h1>

</div></section><section class="widget black-studio-tinymce-2 widget_black_studio_tinymce"><div class="textwidget"><h2>Promoting a Legacy of Good Works</h2>
<p class="small">1, Okhunwun Road, Off Benin-Lagos Road<br>
Iguosa, Benin City, Edo State Nigeria<br>
+1 248-643-9630</p>
<a class="link--arrow" href="/contact/">Contact Us</a></div></section>                </div>
                <div class="column xs-100 md-50 lg-25">
                    <div class="site-footer__signup-form mobile-hide no-print">
                        
                        <form class="site-footer__form" action="/subscribe-connect">
                            <label for="email" class="screen-reader-text">Email</label>
                            <input type="text" name="email" id="email" placeholder="Your email address">
                            <button type="submit"><span class="screen-reader-text">Submit</span><i
                                    class="icon icon-chevron-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="no-print">
                        <ul class="social-links list-inline"><li><a href="https://www.facebook.com/TheKresgeFoundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--facebook"><i class="icon-facebook icon" aria-hidden="tue"></i><span class="screen-reader-text">facebook</span></a></li><li><a href="https://www.instagram.com/thekresgefoundation/" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--instagram"><i class="icon-instagram icon" aria-hidden="tue"></i><span class="screen-reader-text">instagram</span></a></li><li><a href="https://www.linkedin.com/company/the-kresge-foundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--linkedin"><i class="icon-linkedin icon" aria-hidden="tue"></i><span class="screen-reader-text">linkedin</span></a></li><li><a href="https://twitter.com/kresgefdn" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--twitter"><i class="icon-twitter icon" aria-hidden="tue"></i><span class="screen-reader-text">twitter</span></a></li><li><a href="https://www.youtube.com/user/TheKresgeFoundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--youtube"><i class="icon-youtube icon" aria-hidden="tue"></i><span class="screen-reader-text">youtube</span></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__sub">
        <div class="site-footer__programs">
            <div class="container">
                                <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="nav list-inline"><li id="menu-item-15768" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15755 current_page_item menu-item-15768"><a href="/users/our-work/american-cities/" aria-current="page">Orphans and Less Priviledged</a></li>
 <li id="menu-item-15748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15748"><a href="/users/our-work/Poverty Alleviation/">Poverty Alleviation</a></li>
 <li id="menu-item-15767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15767"><a href="/users/our-work/environment/">Stroke Awareness</a></li>
 <li id="menu-item-15765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15765"><a href="/users/our-work/human-services/">Christian Missions</a></li>
 </ul></div>
                            </div>
        </div>
        <div class="site-footer__sub-sub">
            <div class="container">

                <p class="copyright small">&copy; 2022
                    GEOMF
                </p>
                                <div class="menu-footer-sub-menu-container"><ul id="menu-footer-sub-menu" class="nav list-inline"><li id="menu-item-15749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15749"><a href="/users/legal/">Legal</a></li>
<li id="menu-item-38997" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38997"><a href="/users/news-views/kresge-foundation-name-being-used-in-scams/">Scam Alert</a></li>
</ul></div>
                            </div>
        </div>
    </div>
</footer>    		<!-- Google Tag Manager (noscript) snippet added by Site Kit -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXG5S6T" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) snippet added by Site Kit -->
		<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/libs/ChartJs/Chart.min.js' id='acwpb-chartjs-js'></script>
<script type='text/javascript' id='acwpb-chartjs-js-after'>
;rrjChart.defaults.global.defaultFontFamily = "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif";rrjChart.defaults.global.defaultFontSize = 12;
</script>
<script type='text/javascript' id='acwpb-charts-js-before'>
;var rrjChartPluginOptions = {"force-axes-color":false,"axes-color":"#3a3a3a","legend-font-color":"#3a3a3a","legend-font-size":"","tooltip-font-size":"","default-font-size":"12","font-family":"-apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif","t-separator":"","init":"33","usescroll":true};
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/js/chart-controller.min.js' id='acwpb-charts-js'></script>
<script type='text/javascript' id='acwpb-data-loader-js-before'>
;var rrjVars = {"ajaxUrl":"https:\/\/kresge.org\/wp-admin\/admin-ajax.php","restUrl":"https:\/\/kresge.org\/wp-json\/rrj-advanced-charts\/v1\/function\/","condsJson":"{\"is_front_page\":false,\"is_home\":false,\"is_singular\":true,\"is_page\":true,\"is_user_logged_in\":false,\"post_id\":15755}","condsEncoded":"%7B%22is_front_page%22%3Afalse%2C%22is_home%22%3Afalse%2C%22is_singular%22%3Atrue%2C%22is_page%22%3Atrue%2C%22is_user_logged_in%22%3Afalse%2C%22post_id%22%3A15755%7D"};
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/js/data-loaders.min.js' id='acwpb-data-loader-js'></script>
<script type='text/javascript' id='sage/main.js-js-extra'>
/* <![CDATA[ */
var visceral = {"ajaxurl":"https:\/\/kresge.org\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/themes/kresge-foundation/dist/scripts/main.js' id='sage/main.js-js'></script>
<script type='text/javascript' id='wpb_composer_front_js-js-extra'>
/* <![CDATA[ */
var vcData = {"currentTheme":{"slug":"kresge-foundation\/resources"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js' id='wpb_composer_front_js-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/js_composer/assets/lib/bower/skrollr/dist/skrollr.min.js' id='vc_jquery_skrollr_js-js'></script>
</body>

</html>