<!doctype html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#202963">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Yrsa:wght@400;700&display=swap"
        rel="stylesheet">
    <script>
        // Prevents flash of unstyle cotnent for JS manipulated elements.
		document.querySelector('html').classList.remove('no-js');
    </script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v19.10 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Stroke Awareness - GEOMF</title>
	<meta name="description" content="The GEOMF’s Environment Program implements climate change mitigation and adaptation approaches grounded in equity." />
	<link rel="canonical" href="https://kresge.org/our-work/environment/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Environment - GEOMF" />
	<meta property="og:description" content="The GEOMF’s Environment Program implements climate change mitigation and adaptation approaches grounded in equity." />
	<meta property="og:url" content="https://kresge.org/our-work/environment/" />
	<meta property="og:site_name" content="GEOMF" />
	<meta property="article:publisher" content="https://www.facebook.com/TheKresgeFoundation" />
	<meta property="article:modified_time" content="2021-05-12T02:02:35+00:00" />
	<meta property="og:image" content="https://kresge.org/wp-content/uploads/2020_05_06-CAP-Green-Infastructure-Final_The-Sintoses023-e1600978934552.jpg" />
	<meta property="og:image:width" content="1785" />
	<meta property="og:image:height" content="1050" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@kresgefdn" />
	<meta name="twitter:label1" content="Est. reading time" />
	<meta name="twitter:data1" content="3 minutes" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://kresge.org/our-work/environment/","url":"https://kresge.org/our-work/environment/","name":"Environment - GEOMF","isPartOf":{"@id":"https://kresge.org/#website"},"primaryImageOfPage":{"@id":"https://kresge.org/our-work/environment/#primaryimage"},"image":{"@id":"https://kresge.org/our-work/environment/#primaryimage"},"thumbnailUrl":"https://kresge.org/wp-content/uploads/2020_05_06-CAP-Green-Infastructure-Final_The-Sintoses023-e1600978934552.jpg","datePublished":"2020-06-16T22:12:06+00:00","dateModified":"2021-05-12T02:02:35+00:00","description":"The GEOMF’s Environment Program implements climate change mitigation and adaptation approaches grounded in equity.","breadcrumb":{"@id":"https://kresge.org/our-work/environment/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://kresge.org/our-work/environment/"]}]},{"@type":"ImageObject","inLanguage":"en-US","@id":"https://kresge.org/our-work/environment/#primaryimage","url":"https://kresge.org/wp-content/uploads/2020_05_06-CAP-Green-Infastructure-Final_The-Sintoses023-e1600978934552.jpg","contentUrl":"https://kresge.org/wp-content/uploads/2020_05_06-CAP-Green-Infastructure-Final_The-Sintoses023-e1600978934552.jpg","width":1785,"height":1050,"caption":"Atlanta United Parade"},{"@type":"BreadcrumbList","@id":"https://kresge.org/our-work/environment/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://kresge.org/"},{"@type":"ListItem","position":2,"name":"Our Work","item":"https://kresge.org/our-work/"},{"@type":"ListItem","position":3,"name":"Environment"}]},{"@type":"WebSite","@id":"https://kresge.org/#website","url":"https://kresge.org/","name":"GEOMF","description":"Expanding Opportunities in America&#039;s Cities","publisher":{"@id":"https://kresge.org/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://kresge.org/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"Organization","@id":"https://kresge.org/#organization","name":"GEOMF","url":"https://kresge.org/","logo":{"@type":"ImageObject","inLanguage":"en-US","@id":"https://kresge.org/#/schema/logo/image/","url":"https://kresge.org/wp-content/uploads/t-kre.png","contentUrl":"https://kresge.org/wp-content/uploads/t-kre.png","width":800,"height":800,"caption":"GEOMF"},"image":{"@id":"https://kresge.org/#/schema/logo/image/"},"sameAs":["https://www.instagram.com/thekresgefoundation/","https://www.linkedin.com/company/the-kresge-foundation","https://www.youtube.com/user/TheKresgeFoundation","https://www.facebook.com/TheKresgeFoundation","https://twitter.com/kresgefdn"]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//www.googletagmanager.com' />
<script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/kresge.org\/wp-includes\/js\/wp-emoji-release.min.js"}};
/*! This file is auto-generated */
!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode,e=(p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0),i.toDataURL());return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(p&&p.fillText)switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([129777,127995,8205,129778,127999],[129777,127995,8203,129778,127999])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(e=t.source||{}).concatemoji?c(e.concatemoji):e.wpemoji&&e.twemoji&&(c(e.twemoji),c(e.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wpmf-bakery-style-css' href='https://kresge.org/wp-content/plugins/wp-media-folder//assets/css/vc_style.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css' href='https://kresge.org/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='classic-theme-styles-css' href='https://kresge.org/wp-includes/css/classic-themes.min.css' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel='stylesheet' id='acwpb-charts-css' href='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/css/front.css' type='text/css' media='all' />
<style id='acwpb-charts-inline-css' type='text/css'>
.acwpb-legends{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}
</style>
<link rel='stylesheet' id='vc_extend_style-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-img-credits-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-callout-box-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='vc-author-blockquote-css' href='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.css' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css' href='https://kresge.org/wp-content/plugins/js_composer/assets/css/js_composer.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='sage/main.css-css' href='https://kresge.org/wp-content/themes/kresge-foundation/dist/styles/main.css' type='text/css' media='all' />
<script type='text/javascript' src='https://kresge.org/wp-includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-includes/js/jquery/jquery-migrate.min.js' id='jquery-migrate-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/vc_extend.js' id='vc_extend_js-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/waypoints.js' id='waypoints-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/vc-visceral-addons/assets/counterup.js' id='counterup-js'></script>
<link rel="https://api.w.org/" href="https://kresge.org/wp-json/" /><link rel="alternate" type="application/json" href="https://kresge.org/wp-json/wp/v2/pages/15757" /><link rel='shortlink' href='https://kresge.org/?p=15757' />
<link rel="alternate" type="application/json+oembed" href="https://kresge.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkresge.org%2Four-work%2Fenvironment%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://kresge.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkresge.org%2Four-work%2Fenvironment%2F&#038;format=xml" />
<meta name="generator" content="Site Kit by Google 1.87.0" /><!-- Stream WordPress user activity plugin v3.9.1 -->
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
<style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>
<!-- Google Tag Manager snippet added by Site Kit -->
<script type="text/javascript">
			( function( w, d, s, l, i ) {
				w[l] = w[l] || [];
				w[l].push( {'gtm.start': new Date().getTime(), event: 'gtm.js'} );
				var f = d.getElementsByTagName( s )[0],
					j = d.createElement( s ), dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore( j, f );
			} )( window, document, 'script', 'dataLayer', 'GTM-NXG5S6T' );
			
</script>

<!-- End Google Tag Manager snippet added by Site Kit -->
<link rel="icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon-150x150.png" sizes="32x32" />
<link rel="icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" />
<meta name="msapplication-TileImage" content="https://kresge.org/wp-content/uploads/cropped-kresge-favicon.png" />
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1592415509390{background-color: #eef5fc !important;}.vc_custom_1593353133142{background-color: #eef5fc !important;}.vc_custom_1594920599323{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1620784781833{margin-bottom: 15px !important;}.vc_custom_1593795666085{margin-bottom: 15px !important;}.vc_custom_1593795673589{margin-bottom: 15px !important;}.vc_custom_1593355291450{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1593358445125{padding-top: 75px !important;padding-right: 60px !important;padding-bottom: 75px !important;padding-left: 60px !important;background-color: #ffffff !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
<body class="page-template page-template-template-program template-program page page-id-15757 page-parent page-child parent-pageid-80 environment has-featured-image app-data index-data singular-data page-data page-15757-data page-environment-data template-program-data wpb-js-composer js-comp-ver-6.9.0 vc_responsive">
    <a id="skip-to-content" href="#main-content" class="no-print"
        aria-label="Skip to content">Skip to content</a>
        <header class="site-header ">
            <div class="site-header__inner-container">
                <div class="container">
                    <div class="row justify-center">
                        <div class="column xs-100 lg-100">
                            <a class="site-header__brand" href="/">
                                <img class="" style="max-height:60px;max-width: 60px;" src="/images/logo.png">
                                <h1 class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children">G.E.O.M.F</h1>
                            </a>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="site-header__inner">
                <nav class="site-header__navigation">
                                <ul class="main-menu "><li class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/about-us/" class="main-menu__link"><span>About Us</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
        <div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15716  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--67  main-menu__item--border-right  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-67"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--57  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/our-story/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Story</span><span class="main-menu__link__description">Promoting human progress since 2021, expanding opportunity today</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--64  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/our-staff/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Volunteers</span><span class="main-menu__link__description">Our work is made possible by mission-driven professionals</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--66  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/board-of-trustees/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Board of Trustees</span><span class="main-menu__link__description">Leaders who provide governance, expertise and support to our work</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--76  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-33"><a href="/users/about-us/press-room/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Press Room</span><span class="main-menu__link__description">Resources and information for commnunications professional</span></a></li>	</ul>
        </li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15717  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-secondary  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-33"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
                 </li></ul>
        </li><li class="main-menu__item  main-menu__item--parent  main-menu__item--80  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/our-work/" class="main-menu__link"><span>Our Work</span></a>
            <ul class="main-menu__sub-menu main-menu__sub-menu--1">
        <div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15692  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--67  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-67"><a class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>Programs &#038; Practices</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
        <div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15755  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/american-cities/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-amci.png" alt=""><span>Orphans and Less Priviledged</span><span class="main-menu__link__description">Financial and educational support, health services for orphans, indigent persons and less priviledged.</span></a></li>                <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--82  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/Poverty Alleviation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-det.png" alt=""><span>Poverty Alleviation</span><span class="main-menu__link__description">Empowerment/skill acquisition, material and financial support for widows, less priviledged and other indigent persons</span></a></li>                <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15757  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/environment/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-env.png" alt=""><span>Stroke Awareness</span><span class="main-menu__link__description">Enlightenment and awareness campaign on the prevention and management of stroke</span></a></li>                <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15761  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--circle-image  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column sm-50"><a href="/users/our-work/human-services/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><img src="https://kresge.org/wp-content/uploads/nav-hum.png" alt=""><span>Christian Missions</span><span class="main-menu__link__description">Provision of support for Christian missions/evangelism</span></a></li>        	</ul>
        </li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15693  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--33  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-33"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>More About Our Work</span></a>
                <ul class="main-menu__sub-menu main-menu__sub-menu--2">
                          	</ul>
        </li></ul>
        </li><li class="main-menu__item  main-menu__item--parent  main-menu__item--90  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/donate/" class="main-menu__link"><span>Donate</span></a>
             
        </li>                              </nav>
                <a class="site-header__subscribe" href="/subscribe-connect/">Subscribe &amp; Connect</a>
                <label class="site-header__nav-icon mobile-icon no-print" for="nav-toggle" tabindex="0">
        
                    <span class="screen-reader-text">Navigation Toggle</span>
                    <div>
                        <div class="mobile-icon__line"></div>
                        <div class="mobile-icon__line"></div>
                        <div class="mobile-icon__line"></div>
                    </div>
        
        
                </label>
                <a class="site-header__search-button icon icon-search" href="https://kresge.org/?s="
                    title="Search" aria-label="Search"><span
                        class="screen-reader-text">Search</span></a>
            </div>
        </header>
<input type="checkbox" id="nav-toggle">

<div class="mobile-nav-container">

    <div class="container-fluid mobile-nav-inner">
        <form role="search" class="mobile-nav__search-form searchform" method="get" action="https://kresge.org">
            <label for="mobile-s"><span>Search</span></label>
            <input type="text" placeholder="Type here and hit enter..." name="s"
                id="mobile-s" autocomplete="off" spellcheck="false" autofocus>

            <button type="submit"><span class="screen-reader-text">Submit</span><i
                    class="icon icon-search" aria-hidden="true"></i></button>
        </form>
                <ul class="main-menu "><li class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/about-us/" class="main-menu__link"><span>About Us</span></a>
	<ul class="main-menu__sub-menu main-menu__sub-menu--1">
<div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15779  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--57  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/our-story/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Our Story</span><span class="main-menu__link__description">Supporting human progress since 2021, expanding opportunity today</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--64  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/our-staff/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>staff and volunteers</span><span class="main-menu__link__description">Our work is made possible by a staff of mission-driven professionals</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--66  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/board-of-trustees/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Board of Trustees</span><span class="main-menu__link__description">Leaders who provide governance, expertise and support to our work</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--76  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/press-room/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Press Room</span><span class="main-menu__link__description">Resources and information for commnunications professional</span></a></li>	</ul>
</li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15786  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-secondary  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--blank  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>About Sub</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--70  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/how-we-operate/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>How We Operate</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--74  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/financials/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Financials</span></a></li>        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--78  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/about-us/faqs/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>FAQs</span></a></li>	</ul>
</li></ul>
</li><li class="main-menu__item  main-menu__item--parent  main-menu__item--ancestor--active  main-menu__item--80  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--current-page-ancestor  main-menu__item--current-menu-ancestor  main-menu__item--current-page-parent  main-menu__item--current_page_ancestor  main-menu__item--menu-item-has-children"><a href="/users/our-work/" class="main-menu__link"><span>Our Work</span></a>
	<ul class="main-menu__sub-menu main-menu__sub-menu--1">
<div class="container"><div class="row">    <li class="main-menu__item--parent  main-menu__item--parent--active  main-menu__item--ancestor--active  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15791  main-menu__item--mega-nav-parent  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--current-menu-ancestor  main-menu__item--current-menu-parent  main-menu__item--menu-item-has-children column sm-50"><a class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>Programs &#038; Practices</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
<div class="container"><div class="row">        <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15755  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/american-cities/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Orphans and Less Priviledged</span><span class="main-menu__link__description">Financial and educational support, health services for orphans, indigent persons and less priviledged.</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--82  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/Poverty Alleviation/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Poverty Alleviation</span><span class="main-menu__link__description">Empowerment/skill acquisition, material and financial support for widows, less priviledged and other indigent persons</span></a></li>                 <li class="main-menu__item--active  main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15757  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--current-menu-item  main-menu__item--page_item  main-menu__item--page-item-15757  main-menu__item--current_page_item column"><a href="/users/our-work/environment/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Stroke Awareness</span><span class="main-menu__link__description">Enlightenment and awareness campaign on the prevention and management of stroke</span></a></li>                 <li class="main-menu__sub-menu__item main-menu__sub-menu--2__item  main-menu__item--15761  main-menu__item--mega-nav-item  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page column"><a href="/users/our-work/human-services/" class="main-menu__sub-menu__link  main-menu__sub-menu--2__link"><span>Christian Missions</span><span class="main-menu__link__description"> Provision of support for Christian missions/Evangelism</span></a></li>         	</ul>
</li>    <li class="main-menu__item--parent  main-menu__sub-menu__item main-menu__sub-menu--1__item  main-menu__item--15800  main-menu__item--mega-nav-item  main-menu__item--mega-nav-item--50  main-menu__item--menu-item--heading  main-menu__item--menu-item  main-menu__item--menu-item-type-custom  main-menu__item--menu-item-object-custom  main-menu__item--menu-item-has-children column sm-50"><a href="#" class="main-menu__sub-menu__link  main-menu__sub-menu--1__link"><span>More About Our Work</span></a>
		<ul class="main-menu__sub-menu main-menu__sub-menu--2">
 	</ul>
</li></ul>
</li><li class="main-menu__item  main-menu__item--parent  main-menu__item--90  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children"><a href="/users/donate/" class="main-menu__link"><span>Donate</span></a>
	   </li>                  <a class="mobile-nav__subscribe" href="/subscribe-connect/">Subscribe &amp; Connect</a>
    </div>
</div>    <div class="masthead-image ">
    <span class="masthead-image__overlay overlay img-bg"
        style="background-image: url(https://kresge.org/wp-content/uploads/2020_05_06-CAP-Green-Infastructure-Final_The-Sintoses023-e1600978934552.jpg);"></span>
</div>        <div class="masthead masthead-program masthead-program--environment text-white">
    <div class="container">
        <div class="row justify-center">
            <div class="column xs-100 lg-100">
                <div class="masthead__content">
                    <p class="masthead__back-link back-link back-link eyebrow">&lt; Back</p>
                    <div class="row">
                        <div class="column xs-100 lg-auto">
                            <h1 class="masthead__title">Stroke Awareness</h1>
                                                        <p class="lead">We help cities implement climate change mitigation and adaptation approaches grounded in equity.</p>
<a class="link--arrow" href="/users/donate/current-funding-opportunities/">Stroke Awareness Funding Opportunities</a>
                                                    </div>
                        <div class="column xs-100 lg-25">
                                                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>        <nav class="sub-navigation no-print">
    <div class="container">
        <div class="row justify-center">
            <div class="column xs-100 lg-100">
                <ul class="list-inline">
                                        <li class="sub-navigation__item">
                        <a href="#news-resources" class="sub-navigation__link">News &amp; Resources</a>
                    </li>
                                        <li class="sub-navigation__item">
                        <a href="#our-strategies" class="sub-navigation__link">Our Strategies</a>
                    </li>
                                        <li class="sub-navigation__item">
                        <a href="#funding" class="sub-navigation__link">Program Funding</a>
                    </li>
                                        <li class="sub-navigation__item">
                        <a href="#program-team" class="sub-navigation__link">Program Team</a>
                    </li>
                                    </ul>
            </div>
        </div>
    </div>
</nav>            <div class="wrap container" role="document">
        <div class="content">
            <main class="main" id="main-content" tabindex="-1">
                 <section class="vc_section"><div class="vc_row wpb_row vc_row-fluid p-t-40 p-b-60"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid reveal"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1620784781833" >
		<div class="wpb_wrapper">
			<h2>About The Environment Program</h2>
<p class="lead">Kresge’s Environment Program helps cities combat and adapt to climate change while advancing racial and economic equity. We advocate that cities address climate change mitigation and adaptation concurrently.</p>
<p>The pollution that causes heat waves, extreme storms and other climate disasters disproportionately harms low-income communities and communities of color. One of our top priorities is elevating the leadership, inclusion and influence of people of color, people with low incomes, and equity-focused organizations in climate change decision-making at the local, state and federal levels.</p>
<p>By factoring climate into infrastructure, land-use and other planning decisions, urban leaders can ensure their communities reduce and prepare for the impacts of climate change.</p>
<h4 class="buffer">We support efforts to:</h4>
<ul>
<li>Reduce greenhouse gas emissions</li>
<li>Prepare for the effects of climate change that cannot be avoided</li>
<li>Advance social cohesion and equity</li>
</ul>

		</div>
	</div>
</div></div></div></div></div></div></div></div></section><section id="news-resources" class="vc_section"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid p-b-40"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1593795666085" >
		<div class="wpb_wrapper">
			<h2 class="eyebrow">Stroke Awareness News &amp; Views</h2>
<hr class="hr--big" />

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="row"><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Feature Story</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/environmental-health-coalition-advances-transit-solutions-to-benefit-community-climate/">Stroke Awarenessal Health Coalition advances transit solutions to benefit community, climate</a>
        </h1>
        <time class="list-item-related__date small">
            November 14, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> News</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/new-1-8-million-fund-moves-power-and-resources-to-frontline-communities-to-decarbonize-buildings/">New $1.8 million fund moves power and resources to frontline communities to decarbonize buildings</a>
        </h1>
        <time class="list-item-related__date small">
            October 26, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> News</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/lois-debacker-to-moderate-panel-on-advancing-climate-justice-at-cmfs-50th-annual-conference/">Lois DeBacker to moderate panel on advancing climate justice at CMF&#8217;s 50th Annual Conference</a>
        </h1>
        <time class="list-item-related__date small">
            October 20, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> News</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/news-views/7m-in-new-social-investments-will-boost-the-just-energy-transition-in-communities-of-color/">$7M in new social investments will boost the just energy transition in communities of color</a>
        </h1>
        <time class="list-item-related__date small">
            October 18, 2022
        </time>
        <div class="list-item-related__topics">
                    </div>
    </article>
</div></div><a class="link--uppercase-arrow" href="https://kresge.org/news-views/?news_views_type=&amp;category=environment&amp;sort=date#news-views-filter">All Environment News &amp; Views</a></p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1593795673589" >
		<div class="wpb_wrapper">
			<h2 class="eyebrow">Stroke Awareness Resources</h2>
<hr class="hr--big" />

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="row"><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Case Studies</span>
                        <span class="list-item-related__type post-label"> Reports</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/resource/advancing-climate-resilience-and-mitigation-at-essential-hospitals/">Advancing Climate Resilience and Mitigation at Essential Hospitals</a>
        </h1>
        <time class="list-item-related__date small">
            October 31, 2022
        </time>
        <div class="list-item-related__topics">
                        <p>Stroke Awareness, Health</p>
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Reports</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/resource/green-2-0-releases-national-poll-on-voters-of-color-and-climate-change/">Green 2.0 releases national poll on voters of color and climate change</a>
        </h1>
        <time class="list-item-related__date small">
            October 26, 2022
        </time>
        <div class="list-item-related__topics">
                        <p>Stroke Awareness</p>
                    </div>
    </article>
</div><div class="column xs-100 reveal ">
    <article class="list-item-related">
                <div class="list-item-related__types">
            
                        <span class="list-item-related__type post-label"> Reports</span>
                    </div>
                <h1 class="list-item-related__title h4">
            <a href="/users/resource/climate-change-health-equity-message-framework/">Climate Change, Health &#038; Equity Message Framework</a>
        </h1>
        <time class="list-item-related__date small">
            October 18, 2022
        </time>
        <div class="list-item-related__topics">
                        <p>Stroke Awareness, Health</p>
                    </div>
    </article>
</div></div><a class="link--uppercase-arrow" href="#">All Environment Resources</a></p>

		</div>
	</div>
</div></div></div></div></div></div></div></div></section><section id="our-strategies" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1592415509390 vc_section-has-fill"><div class="vc_row wpb_row vc_row-fluid reveal p-t-40"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h2 class="h6 eyebrow">Our Strategies</h2>
<p class="h3">We Invest in These Focus Areas</p>
<p class="lead">Our work is driven by the needs of municipal leaders working on climate change and their community-based partners. We invest through three strategies:</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="reveal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--environment" href  ="http://kresge.org/our-work/environment/building-capacity-and-commitment/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/CRUO-2018-Group-Pic.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Building Capacity and Commitment of Urban Leaders</h2><div class="vc-promo-text"><p style="color:#ffffff;">We work to build urban leaders’ capacity and commitment to advance equitable approaches to climate change mitigation and adaptation.</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--environment" href  ="http://kresge.org/our-work/environment/strengthening-the-evidence-base-and-developing-tools/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/strengthening-the-evidence-base.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Strengthening the Evidence Base and Developing Tools</h2><div class="vc-promo-text"><p style="color:#ffffff;">We help urban leaders access information and tools that support them acting on climate change while centering equity.</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--environment" href  ="http://kresge.org/our-work/environment/transforming-key-urban-systems/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/Soloar-Panels.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Transforming Key Urban Systems</h2><div class="vc-promo-text"><p style="color:#ffffff;">We work to transform key urban infrastructure with critical climate implications, focusing on energy and water systems.</p></div></div></a></div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1593353133142 vc_section-has-fill"><div class="vc_row wpb_row vc_row-fluid p-t-100 p-b-100"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-bottom vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h3 class="h3">We Invest in These Initiatives</h3>
<p class="lead">Climate policies developed and implemented with the engagement of impacted residents will be more equitable, effective and durable. This belief has guided our work with the following initiatives.</p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p style="text-align: right;"><a class="link--arrow link--uppercase-arrow" href="https://kresge.org/our-work/initiatives/">All Initiatives</a></p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="reveal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--environment" href  ="http://kresge.org/initiative/climate-change-health-and-equity-cche/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/initiative-cche-thumb.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Climate Change, Health and Equity (CCHE)</h2><div class="vc-promo-text"><p style="color:#ffffff;">CCHE mobilizes equitable climate action by health care institutions, health practitioners and community advocates.</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--environment" href  ="http://kresge.org/initiative/climate-resilience-and-urban-opportunity-cruo/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/initiative-cruo-thumb.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Climate Resilience and Urban Opportunity (CRUO)</h2><div class="vc-promo-text"><p style="color:#ffffff;">CRUO strengthens the climate-resilience field by supporting new models and approaches to equity-driven climate action. (concluded 2019)</p></div></div></a></div></div></div><div class="reveal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><a class="vc-custom-promo-box text-fade-in bg-fade-to-dark overlay-promo overlay-promo--environment" href  ="http://kresge.org/initiative/climate-resilient-and-equitable-water-systems-crews/" ><div class="vc-promo-bg" style ="background-image: url(https://kresge.org/wp-content/uploads/US-Water-Alliance.jpg);"></div><div class="content"><h2 class="vc-promo-header" style="color:#ffffff;">Climate Resilient and Equitable Water Systems (CREWS)</h2><div class="vc-promo-text"><p style="color:#ffffff;">CREWS transforms urban stormwater and wastewater systems to provide reliable and equitable services to all community residents.</p></div></div></a></div></div></div></div></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section id="funding" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" data-vc-parallax="1.25" data-vc-parallax-o-fade="on" data-vc-parallax-image="https://kresge.org/wp-content/uploads/environment-funding.jpg" class="vc_section vc_custom_1594920599323 vc_section-has-fill vc_section-o-content-middle vc_section-flex vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid p-b-80 vc_custom_1593355291450 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-5 vc_col-lg-4 vc_col-md-8 vc_col-xs-offset-1 vc_col-xs-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid m-t-80 m-b-80 vc_row-o-content-middle vc_row-flex"><div class="reveal wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill"><div class="vc_column-inner vc_custom_1593358445125"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p class="h3">Funding &amp; Eligibility Requirements</p>
<p>The Environment Program does not accept unsolicited proposals. When available, grant opportunities are listed on the Current Funding Opportunities page.</p>
<hr class="hr hr--big" />
<p><span style="color: #ffffff;"><a class="btn link--arrow" style="color: #ffffff;" href="/users/donate/how-to-apply/">How to Apply</a></span></p>
<p><span style="color: #ffffff;"><a class="btn link--arrow" style="color: #ffffff;" href="/users/donate/grants-awarded/?award_keyword=&amp;award_year=&amp;award_funding_area=environment&amp;organization_location=&amp;sort=recent#main-content">Stroke Awareness Grants Made</a></span></p>
<p><a class="btn link--arrow" href="/users/donate/social-investments-made/?award_keyword=&amp;award_year=&amp;investment_type=&amp;award_funding_area=environment&amp;organization_location=&amp;sort=recent#main-content"><span style="color: #ffffff;">Stroke Awareness Social Investments Made</span></a></p>

		</div>
	</div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div><section id="program-team" class="vc_section"><div class="vc_row wpb_row vc_row-fluid p-t-80"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h2 class="h6 eyebrow">Stroke Awareness Programs Team</h2>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<div class="row"><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/shamar-bibbins/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/shamar-bibbins-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Shamar Bibbins
            </h1>
            <p class="list-item-person__job-title">
                Senior Program Officer

            </p>
                                                <p class="list-item-person__programs">
                Environment
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/jessica-e-boehland/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/jessica-boehland-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Jessica E. Boehland
            </h1>
            <p class="list-item-person__job-title">
                Senior Program Officer

            </p>
                                                <p class="list-item-person__programs">
                Environment
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/lois-r-debacker/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/lois-debacker-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Lois R. DeBacker
            </h1>
            <p class="list-item-person__job-title">
                Managing Director

            </p>
                                                <p class="list-item-person__programs">
                Environment
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/joe-evans/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/joe-evans-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Joe Evans
            </h1>
            <p class="list-item-person__job-title">
                Portfolio Director and Social Investment Officer

            </p>
                                                <p class="list-item-person__programs">
                Environment, Social Investment Practice
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/alejandra-hernandez/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/Alejandra_headshot_3x4.png" class=" wp-post-image" alt="Photo of Alejandro Hernandez" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Alejandra Hernandez
            </h1>
            <p class="list-item-person__job-title">
                Environment Fellow 

            </p>
                                                <p class="list-item-person__programs">
                Environment
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/yeou-rong-jih/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/Yjih-Headshot-3x4-1.png" class=" wp-post-image" alt="Photo of Yeou-Rong Jih" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Yeou-Rong Jih
            </h1>
            <p class="list-item-person__job-title">
                Program Officer

            </p>
                                                <p class="list-item-person__programs">
                Environment
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/jill-a-johnson/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/jill-johnson-600x800-1.jpg" class=" wp-post-image" alt="" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Jill A. Johnson
            </h1>
            <p class="list-item-person__job-title">
                Program Team Assistant

            </p>
                                                <p class="list-item-person__programs">
                Environment
            </p>
            
        </a>
    </article>
</div><div class="column person-column xs-50 sm-50 md-33 lg-25   ">
    <article class="list-item-person reveal">
        <a href="/users/staff/kaniqua-welch/" class="list-item-person__link">
            <div class="list-item-person__image">
                <div class="img-cover">
                    <img width="600" height="800" src="https://kresge.org/wp-content/uploads/KFheadshots_Kaniqua-600x800-1.jpg" class=" wp-post-image" alt="Communications Officer Kaniqua Welch" decoding="async" loading="lazy" data-ar="1.33" />
                </div>
            </div>
            <h1 class="list-item-person__title">
                Kaniqua Welch
            </h1>
            <p class="list-item-person__job-title">
                Communications Officer

            </p>
                                                <p class="list-item-person__programs">
                Arts &amp; Culture, Environment
            </p>
            
        </a>
    </article>
</div></div>

		</div>
	</div>
</div></div></div></div></section>
            </main>
                    </div>
    </div>
        <footer class="site-footer">
    <div class="site-footer__main text-white">
        <div class="container">
            <div class="row">
                <div class="column xs-100 md-50 lg-75">
                                            <h1 class="main-menu__item  main-menu__item--parent  main-menu__item--55  main-menu__item--mega-nav-parent  main-menu__item--menu-item  main-menu__item--menu-item-type-post_type  main-menu__item--menu-item-object-page  main-menu__item--menu-item-has-children">G.E.O.M.F</h1>

</div></section><section class="widget black-studio-tinymce-2 widget_black_studio_tinymce"><div class="textwidget"><h2>Promoting a Legacy of Good Works</h2>
<p class="small">1, Okhunwun Road, Off Benin-Lagos Road<br>
Iguosa, Benin City, Edo State Nigeria<br>
 +234 818 4182 136</p>
<a class="link--arrow" href="/contact/">Contact Us</a></div></section>                </div>
                <div class="column xs-100 md-50 lg-25">
                    <div class="site-footer__signup-form mobile-hide no-print">
                        
                        <form class="site-footer__form" action="/subscribe-connect">
                            <label for="email" class="screen-reader-text">Email</label>
                            <input type="text" name="email" id="email" placeholder="Your email address">
                            <button type="submit"><span class="screen-reader-text">Submit</span><i
                                    class="icon icon-chevron-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="no-print">
                        <ul class="social-links list-inline"><li><a href="https://www.facebook.com/TheKresgeFoundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--facebook"><i class="icon-facebook icon" aria-hidden="tue"></i><span class="screen-reader-text">facebook</span></a></li><li><a href="https://www.instagram.com/thekresgefoundation/" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--instagram"><i class="icon-instagram icon" aria-hidden="tue"></i><span class="screen-reader-text">instagram</span></a></li><li><a href="https://www.linkedin.com/company/the-kresge-foundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--linkedin"><i class="icon-linkedin icon" aria-hidden="tue"></i><span class="screen-reader-text">linkedin</span></a></li><li><a href="https://twitter.com/kresgefdn" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--twitter"><i class="icon-twitter icon" aria-hidden="tue"></i><span class="screen-reader-text">twitter</span></a></li><li><a href="https://www.youtube.com/user/TheKresgeFoundation" target="_blank" rel="noopener noreferrer" class="social-links__link social-link--youtube"><i class="icon-youtube icon" aria-hidden="tue"></i><span class="screen-reader-text">youtube</span></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__sub">
        <div class="site-footer__programs">
            <div class="container">
                                <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="nav list-inline"><li id="menu-item-15768" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15768"><a href="/users/our-work/american-cities/">Orphans and Less Priviledged</a></li>
 <li id="menu-item-15748" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15748"><a href="/users/our-work/Poverty Alleviation/">Poverty Alleviation</a></li>
 <li id="menu-item-15767" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15757 current_page_item menu-item-15767"><a href="/users/our-work/environment/" aria-current="page">Stroke Awareness</a></li>
 <li id="menu-item-15765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15765"><a href="/users/our-work/human-services/">Christian Missions</a></li>
 </ul></div>
                            </div>
        </div>
        <div class="site-footer__sub-sub">
            <div class="container">

                <p class="copyright small">&copy; 2022
                    GEOMF
                </p>
                                <div class="menu-footer-sub-menu-container"><ul id="menu-footer-sub-menu" class="nav list-inline"><li id="menu-item-15749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15749"><a href="/users/legal/">Legal</a></li>
<li id="menu-item-38997" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38997"><a href="/users/news-views/kresge-foundation-name-being-used-in-scams/">Scam Alert</a></li>
</ul></div>
                            </div>
        </div>
    </div>
</footer>    		<!-- Google Tag Manager (noscript) snippet added by Site Kit -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXG5S6T" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) snippet added by Site Kit -->
		<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/libs/ChartJs/Chart.min.js' id='acwpb-chartjs-js'></script>
<script type='text/javascript' id='acwpb-chartjs-js-after'>
;rrjChart.defaults.global.defaultFontFamily = "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif";rrjChart.defaults.global.defaultFontSize = 12;
</script>
<script type='text/javascript' id='acwpb-charts-js-before'>
;var rrjChartPluginOptions = {"force-axes-color":false,"axes-color":"#3a3a3a","legend-font-color":"#3a3a3a","legend-font-size":"","tooltip-font-size":"","default-font-size":"12","font-family":"-apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif","t-separator":"","init":"33","usescroll":true};
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/js/chart-controller.min.js' id='acwpb-charts-js'></script>
<script type='text/javascript' id='acwpb-data-loader-js-before'>
;var rrjVars = {"ajaxUrl":"https:\/\/kresge.org\/wp-admin\/admin-ajax.php","restUrl":"https:\/\/kresge.org\/wp-json\/rrj-advanced-charts\/v1\/function\/","condsJson":"{\"is_front_page\":false,\"is_home\":false,\"is_singular\":true,\"is_page\":true,\"is_user_logged_in\":false,\"post_id\":15757}","condsEncoded":"%7B%22is_front_page%22%3Afalse%2C%22is_home%22%3Afalse%2C%22is_singular%22%3Atrue%2C%22is_page%22%3Atrue%2C%22is_user_logged_in%22%3Afalse%2C%22post_id%22%3A15757%7D"};
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/rrj-advanced-charts/assets/js/data-loaders.min.js' id='acwpb-data-loader-js'></script>
<script type='text/javascript' id='sage/main.js-js-extra'>
/* <![CDATA[ */
var visceral = {"ajaxurl":"https:\/\/kresge.org\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/themes/kresge-foundation/dist/scripts/main.js' id='sage/main.js-js'></script>
<script type='text/javascript' id='wpb_composer_front_js-js-extra'>
/* <![CDATA[ */
var vcData = {"currentTheme":{"slug":"kresge-foundation\/resources"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js' id='wpb_composer_front_js-js'></script>
<script type='text/javascript' src='https://kresge.org/wp-content/plugins/js_composer/assets/lib/bower/skrollr/dist/skrollr.min.js' id='vc_jquery_skrollr_js-js'></script>
</body>

</html>